.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
}
.over-wrapper{
    overflow: hidden;
    position: relative;
}
.content-inner{
    width: 87.5%;
    max-width: 1260px;
    margin: 0 auto;
}
.sticky .dimmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.scroll-hide{
    overflow: hidden;
}
.scroll-bg{
    display: none;
    position: fixed;
    top: 0; left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(20px);
}
.scroll-bg.show{
    display: block;
}
.padding-top{
    padding-top: 160px;
}

.headline{
    min-width: 50%;
    padding-bottom: 80px;
    font-family: var(--font-display);
    font-size: 56px;
    font-weight: 600;
    line-height: 1.0714285714;
    letter-spacing: -0.005em;
}
.control{
    display: flex;
    gap: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.control .btn{
    width: 36px;
    height: 36px;
    background: rgba(66,66,69,0.72);
    border-radius: 36px;
}
.control .btn svg{
    fill: rgba(255, 255, 255, 0.8);
}
.control .btn.swiper-button-disabled{
    opacity: 0.5;
}
.control.light .btn{
    background: #d2d2d7a3;
}
.control.light .btn svg{
    fill: #0000008f;
}
.group-intro{
    width: 87.5%;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 200px;
}
.group-intro .sm-headline{
    margin-bottom: 19px;
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.125;
    letter-spacing: .004em;
}
.group-intro .title{
    font-family: var(--font-display);
    font-size: 96px;
    line-height: 1.0416666667;
    letter-spacing: -0.015em;
}
.group-intro .desc{
    margin: 40px 0 80px;
    font-family: var(--font-display);
    font-size: 24px;
    line-height: 1.3334133333;
    letter-spacing: .009em;
}
.row-area .row-title{
    max-width: 58%;
    font-family: var(--font-display);
    font-size: 56px;
    font-weight: 600;
    line-height: 1.0714285714;
    letter-spacing: -0.005em;
}
.row-area .row-desc{
    max-width: 66.666%;
    margin-top: 20px;
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3334133333;
    letter-spacing: .009em;
}

.card-cont .head{
    font-family: var(--font-display);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1428571429;
    letter-spacing: .007em;
}
.btn-icon{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.btn-icon .icon-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 44px;
    height: 44px;
}
.btn-icon .icon-wrap .icon{
    width: 36px;
    height: 36px;
    background: #1d1d1f;
    border-radius: 50%;
}
.btn-icon .icon-wrap .icon svg{
    fill: rgb(255, 255, 255);
}

sup{
    position: relative;
    top: auto;
    text-decoration: underline;
    vertical-align: top;
    text-underline-offset: -0.28em;
    font-feature-settings: "numr";
}

.material-symbols-outlined {
    font-size: 18px !important;
    text-decoration: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20;
}
.more a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0066cc;
}
.more:hover .more-text{
    text-decoration: underline;
}


@media (max-width:1280px){}
@media (max-width:1068px){
    .padding-top{
        padding-top: 128px;
    }
    .headline{
        padding-bottom: 64px;
        font-size: 48px;
        line-height: 1.0834933333;
        letter-spacing: -0.003em;
    }
    .group-intro{
        padding-top: 135px;
    }
    .group-intro .sm-headline{
        margin-bottom: 14px;
        font-size: 28px;
        line-height: 1.1428571429;
        letter-spacing: .007em;
    }
    .group-intro .title{
        font-size: 64px;
        line-height: 1.0625;
        letter-spacing: -0.009em;
    }
    .group-intro .desc{
        margin: 24px 0 60px;
        font-size: 19px;
        line-height: 1.2105263158;
        letter-spacing: .012em;
    }
    .row-area .row-title{
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0em;
    }
    .row-area .row-title.large{
        font-size: 48px;
        line-height: 1.0834933333;
        letter-spacing: -0.003em;
    }
    .row-area .row-desc{
        font-size: 19px;
        line-height: 1.2105263158;
        letter-spacing: .012em;
    }
    .top-area .row-title1{
    font-size: 48px !important;
    line-height: 1.08349333 !important;
    letter-spacing: -0.003em !important;
    }
    
    .card-cont .head{
        font-size: 24px;
        line-height: 1.16666;
        letter-spacing: .009em;
    }
}
@media (max-width:833px){}
@media (max-width:734px){
    .padding-top{
        padding-top: 96px;
    }
    .headline{
        padding-bottom: 48px;
        font-size: 28px;
        line-height: 1.1428571429;
        letter-spacing: .007em;
    }
    .content-inner{
        max-width: 420px;
    }
    .group-intro{
        padding-top: 105px;
    }
    .group-intro .sm-headline{
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 1.16667;
        text-align: start;
        letter-spacing: .009em;
    }
    .group-intro .title{
        font-size: 48px;
        line-height: 1.08349;
        text-align: start;
        letter-spacing: -0.003em;
    }
    .group-intro .desc{
        margin: 16px 0 60px;
        text-align: start;
    }
    .row-area .row-title{
        max-width: 100%;
        font-size: 32px;
        line-height: 1.125;
        letter-spacing: .004em;
    }
    .row-area .row-title.large{
        font-size: 28px;
        line-height: 1.1428571429;
        letter-spacing: .007em;
    }

    .row-area .row-desc{
        max-width: 100%;
        font-size: 19px;
        line-height: 1.2105263158;
        letter-spacing: .012em;
    }

    .top-area .row-title1{
        font-size: 28px !important;
        line-height: 1.1428571429 !important;
        letter-spacing: 0.007em !important;
    }
    .card-cont .head{
        font-size: 21px;
        line-height: 1.1904761;
        letter-spacing: .011em;
    }
    .cont{
        max-width: 420px;
    }
    .more a{
        justify-content: flex-start;
        font-size: 14px;
        line-height: 1.4285914286;
    }
}