@import './common.css';
@import './reset.css';

#wrap{}

#header{
    position: relative;
    z-index: 3;
    background: rgb(22 22 23 / 0);
}
#header.menu::after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: var(--after-height, 0);
    background: #161617;
    transition: height 0.4s;
    content: ''; 
}
#header .nav-bg{
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    width: 100%;
    height: 44px;
    background: rgb(22 22 23 / 0);
    backdrop-filter: saturate(180%) blur(20px);
}
#header .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    max-width: 1024px;
    height: 44px;
    margin: 0 auto;
    padding: 0 22px;
    box-sizing: border-box;
}
#header .nav-item{
    z-index: 1;
}
#header .nav-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin: 0 -8px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 1;
    color: rgba(255, 255, 255, .8);
    letter-spacing: -.01em;
}
#header .nav-item svg{
    fill: rgba(255, 255, 255, .8);
}
#header .group-menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#header .group-menu.show {
    visibility: visible;
    opacity: 1;
}
#header .group-menu .menu-inner{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 22px 84px;
    box-sizing: border-box;
}
#header .nav-item .menu-area{
    max-width: 25%;
    padding-right: 44px;
}
#header .nav-item .menu-area:first-child{
    max-width: 50%;
    padding-right: 88px;
}
#header .nav-item .menu-area h2{
    font-size: 12px;
    line-height: 1.3333733333;
    color: rgb(134, 134, 139);
    letter-spacing: -.01em;
}
#header .nav-item .menu-list{
}
#header .nav-item .menu-item{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333733333;
}
#header .nav-item .menu-item:first-child{
    margin-top: 6px;
}
#header .nav-item .menu-item a{
    display: inline-block;
    padding: 7px 11px;
    color: #fff;
}
#header .nav-item .menu-item.em a{
    padding: 9px 11px 7px;
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1666666667;
    letter-spacing: .009em;
}

#header .nav-bg1{
    display: none;
    position: relative;
    width: 100%;
    height: 48px;
    background: rgb(22 22 23 / 0);
    backdrop-filter: saturate(180%) blur(20px);}

#header .nav-list1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .nav-item1.logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    width: max-content;
    padding: 0 16px;
}
#header .nav-item1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
#header .nav-item1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#header .nav-item1.open{
    position: relative;
    z-index: 2;
}
#header .nav-item1 svg{
    fill: #fff;
}
#header .m-menu{
    position: fixed;
    top: 0;left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: #161617;
    color: #fff;
    transform: translateY(-100%);
    transition: 0.3s;
}
#header .m-menu.on{
    transform: translateY(0);
}
#header .m-menu-list{
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 84px;
    position: relative;
    z-index: 2;
}
#header .m-menu-item{
    font-family: var(--font-display);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1428571429;
    letter-spacing: .007em;
}
#header .m-menu-item a{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px 48px 4px;
    color: #E8E8ED;
}
#header .sub-menu{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 1;
    /* min-height: 100%; */
    transition: transform .23s ease;
    transform: translateY(-100%);
}
#header .sub-menu.on{
    transform: translateY(0);
}
#header .sub-menu.dark .sub-bg{
    background-color: #161617cc;
}
#header .sub-menu.dark .sub-title{
    color: #fff;
}
#header .sub-menu.dark .tray-item{
    color: #fff;
}
#header .sub-menu.dark .btn-open .icon{
    color: #fff;
}
#header .sub-wrapper{}
#header .sub-wrapper.on{}
#header .sub-bg{
    position: fixed;
    top: 0; left: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: .2s;
    height: 52px;
    width: 100%;
    z-index: 1;
    background-color: #fafafccc;
}
#header .sub-content{
    position: relative;
    z-index: 2;
    height: 52px;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}
#header .sub-title{
    color: #000000;
    display: block;
    margin-top: 14px;
    transition: color .24s;
    float: left;
}
#header .sub-title a{
    font-size: 21px;
    line-height: 1.1428571429;
    font-weight: 600;
}

#header .sub-cont{
    display: flex;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-top: -3px;
    letter-spacing: -0.01em;
    float: right;
}
#header .sub-cont .tray{
    padding-top: 18px;
    float: left;
}
#header .sub-cont .tray-list{
    display: flex;
}
#header .sub-cont .tray-item{
    color: #000000;
    margin-left: 24px;
}
#header .sub-cont .tray-item .first{
    display: inline-block;
    line-height: 22px;
    white-space: nowrap;
}
#header .sub-cont .tray-item a{
        display: inline-block;
    line-height: 22px;
    white-space: nowrap;
}

#header .sub-cont .action{
    float: left;
    display: flex;
    padding-top: 18px;
}
#header .sub-cont .action .btn-open{
    margin-left: 24px;
    display: none;
    width: 40px;
    height: 30px;
}
#header .sub-cont .action .btn-open .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    width: 100%;
    height: 100%;
}
#header .sub-cont .action .btn-open .icon svg{
    height: 9px;
    width: 16px;
}
#header .sub-cont .action .btn-buy{
    margin-left: 24px;
    margin-top: -1px;
}
#header .sub-cont .action .btn-buy a{
    background-color: #0071e3;
    color: #fff; 
    display: inline-block;
    width: auto;
    min-width: 23px;
    border-radius: 980px;
    padding: 6px 11px;
}

#footer{
    background: #f5f5f7;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333733333;
    color: #0000008f;
    letter-spacing: -0.01em;
}
#footer .footer-cont{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 22px;
    box-sizing: content-box;
}
#footer a{
    color: rgba(0, 0, 0, 0.72);
    text-decoration: underline;
}
#footer .cont-list{padding: 17px 0 11px;}
#footer .cont-item{padding-bottom: .8em;}
#footer .cont-item{padding-bottom: .8em;}
#footer .number-list{padding: 0 17px;}
#footer .number-item{padding-bottom: .8em;}
#footer .footer-breadcrumb{
    padding: 17px 0;
    border-top: 1px solid #00000029;
}
#footer .breadcrumb-list{
    display: flex;
    align-items: center;
}
#footer .breadcrumb-item+.breadcrumb-item{
    margin-right: 7px;
    padding: 3px 4px 3px 0;
}
#footer .breadcrumb-item+.breadcrumb-item::before{
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-top: -1px;
    margin-right: 11px;
    background-color: rgba(0, 0, 0, .48);
    content: "";
    vertical-align: middle;
    mask-image: url(../images/footer-icon.svg);
}
#footer .breadcrumb-item{
    color: #000000b8;
}
#footer .breadcrumb-item a{
    text-decoration: none;
}
#footer .breadcrumb-item .icon{
    display: block;
    position: relative;
    z-index: 2;
    width: 14px;
    height: 18px;
    margin-right: 11px;
    background-color: rgba(0, 0, 0, .88);
    mask-image: url(../images/apple.svg);
}

#footer .footer-nav{}
#footer .nav-list{
    display: flex;
}
#footer .nav-item{
    flex: 1;
}
#footer .nav-item .column-list+.column-list{
    padding-top: 24px;
}
#footer .nav-item .column-item:last-child{
    margin-bottom: 0;
}
#footer .nav-item .column-list .title{
    margin-right: 20px;
    margin-bottom: .8em;
    font-weight: 600;
    color: #1d1d1f;
}
#footer .hide{
    display: none;
}
#footer .nav-item .column-list.open .icon{
    transform: rotate(180deg);
}
#footer .nav-item .column-item{
    margin-right: 20px;
    margin-bottom: .8em;
}

#footer .nav-item .column-item a{
    color: #000000b8;
    text-decoration: none;
}
#footer .nav-item .column-item a:hover{
    text-decoration: underline;
}
#footer .footer{
    padding: 37px 0 11px;
}
#footer .footer .shop{
    margin-bottom: 16px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
#footer .footer .shop a{
    color: #0066cc;
}
#footer .legal{
    position: relative;
    top: -3px;
}
#footer .legal .link-item{
    float: right;
    margin-top: 5px;
}
#footer .legal .link-item a{
    text-decoration: none;
}
#footer .legal .left{
    display: flex;
    gap: 30px;
}
#footer .legal .left .copy{
    margin-top: 5px;
}
#footer .legal .left .link-list{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -9px;
}
#footer .legal .left .link-item a{
    padding: 0 9px;
}
#footer .legal .link-item a:hover{
    text-decoration: underline;
}
#footer .legal .left .link-item+.link-item::before{
    position: absolute;
    width: 1px;
    height: 10px;
    margin: 3px 0;
    background-color: #0000007a;
    content: "";
}
#footer .legal .right .link-item{}



@media (max-width:1280px){}
@media (max-width:1068px){
    #footer .legal .left{
        gap: 0;
        flex-direction: column;
    }
}



@media (max-width:833px){
    #header .nav-list{
        display: none;
    }
    #header .sub-list{
        display: none;
    }
    #header .sub-menu .sub-inner{
        padding: 0 16px;
        height: 48px;
    }
    #header .sub-menu .title a{
        font-size: 17px;
    }
    #header .sub-list1{
        display: block;
    }

    #header .sub-bg{
        height: 48px;
    }
    #header .sub-content{
        height: 48px;
    }
    #header .sub-cont{
        float: none;
        padding-top: 0;
        margin-top: 0;
        width: 100%;
    }
    #header .sub-menu.open .sub-content{
        height: 235px;
    }
    #header .sub-menu.open .sub-bg{
        height: 235px;
    }
    #header .sub-title a{
        font-size: 17px;
        line-height: 1.4118447059;
        letter-spacing: -0.022em;
    }
    
    #header .sub-cont .tray{
        float: none;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        width: 100%;
        height: 0;
        padding-top: 0;
        opacity: 0;
        transition: .2s;
    }
    #header .sub-cont .tray.on{
        visibility: visible;
        opacity: 1;
        max-height: 163px;
        height: auto;
    }
    #header .sub-cont .tray-list{
        flex-direction: column;
        padding: 37px 16px 27px;
    }
    #header .sub-cont .tray-item{
        margin-left: 0;
        display: inline-block;
        width: 100%;
        height: 34px;
        font-size: 14px;
    }
    #header .sub-cont .tray-item .first{
        display: flex;
        line-height: 1.3;
        height: 100%;
        align-items: center;
    }
    #header .sub-cont .tray-item a{
        display: flex;
        line-height: 1.3;
        height: 100%;
        align-items: center;
    }
    #header .sub-cont .action{
        padding: 16px 16px 0;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 1;
    }
    #header .sub-cont .action .btn-open{
        display: block;
    }
    #header .sub-cont .action .btn-buy{
        margin-left: 0;
    }
    #header .nav-bg1{
        display: block;
    }
    #footer .nav-item .column-list .title.is1{
        display: none;
    }
    #footer .footer-breadcrumb{
        border-bottom: 1px solid #00000029;
    }
    #footer .nav-item .column-list .column-item {
        display: none;
    }
    #footer .nav-item .column-list .column-item:first-child {
        display: block;
    }
    #footer .nav-item .column-list.open .column-item:not(:first-child) {
        display: block;
        padding: 6px 14px;
    }
    #footer .nav-item .column-list .hide{
        display: block;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        width: 100%;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #00000029;
        background: rgb(245, 245, 247);
    }
    
    #footer .nav-list{
        flex-direction: column;
        justify-content: space-between;
    }
    #footer .nav-item .column-list+.column-list{
        padding-top: 0;
    }
    #footer .nav-item .column-list .hide .title.is2{
        float: left;
        margin: 0;
        font-weight: 600;
        color: #000000b8;
    }
    #footer .nav-item .column-list .hide .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        width: 11px;
        margin-top: 5px;
        font-size: 14px;
        font-weight: normal;
        color: #000000e0;
        transition: transform .3s ease;
    }
    #footer .nav-item .column-item{
        margin-bottom: 0;
    }
    #footer .footer{
        padding: 17px 0 9px;
    }
    #footer .footer .shop{
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: none;
    }
    #footer .legal{
        flex-direction: column;
    }
    #footer .legal .link-item{
        float: none;
    }
    #footer .legal .left{
        padding-top: 12px;
    }
}
