.sc-visual{}
.sc-visual .main-swiper{
    position: relative;
}
.sc-visual .main-swiper::after{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg,rgba(0,0,0,.5),transparent);
    content: "";
    pointer-events: none;
}
.sc-visual .swiper-slide{}
.sc-visual .swiper-slide::before{
    display: block;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 400px;
    background: linear-gradient(1turn,rgba(12,239,211,0) 43.57%,#0cefd3);
    content: "";
    pointer-events: none;
}
.sc-visual .swiper-slide .headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 10;
    width: 100%;
    padding: 0 45px;
    line-height: 1;
    color: #000;
    text-align: center;
    transform: translateX(-50%);
    -webkit-box-orient: vertical;
}
.sc-visual .swiper-slide .headline br{
    display: none;
}
.sc-visual .swiper-slide .headline strong{
    display: block;
    margin-bottom: 30px;
    font-size: clamp(44px, 5.4347826087vw, 133px);
    font-weight: 900;
}
.sc-visual .swiper-slide .headline .cate{
    font-size: clamp(24px, 1.6304347826vw, 40px);
    font-weight: 700;
}
.sc-visual .swiper-slide .headline .cate:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.sc-visual .swiper-slide .img{
    position: relative;
}
.sc-visual .swiper-slide .img img{
    width: 100%;
    height: 100%;
    border-top: 120px solid #0cefd3;
    object-fit: cover;
}
.sc-visual .control{
    display: flex;
    gap: 4px;
    align-items: center;
    position: absolute;
    bottom: 24px;
    left: 50%;
    z-index: 5;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.sc-visual .control .swiper-pagination{
    position: relative;
    bottom: auto;
    left: auto;
    width: 335px;
    height: 4px !important;
    background-color: rgba(0, 0, 0, .4);
    --beforeW:0;
    --beforeL:0;
}
.sc-visual .control .swiper-pagination::before{
    position: absolute;
    left: var(--beforeL);
    width:var(--beforeW);
    height: 100%;
    background: #fff;
    transition: .3s;
    content: '';
}

.sc-visual .control .swiper-pagination-acive{
    background-color: #fff;
}
.sc-visual .control .swiper-pagination-bullet{}
.sc-visual .control .swiper-pagination-bullet-active{
    background: #fff;
}


.sc-visual .control .btn{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.4);
    color: #000;
    border-radius: 50%;
}
.sc-visual .control .btn svg{
    width: 20px;
}
.sc-visual .control .btn:hover{
    background-color: #fff;
    color: #fff;
}

.sc-visual .control .btn:hover path{
    transition: fill .3s ease-in-out;
    fill: #000;
}
.sc-visual .control .btn.next svg{
    transform: rotate(180deg);
}

.sc-service{
    margin-bottom: 140px;
    padding-top: 140px;
}
.sc-service .group-video{
    position: relative;
    max-width: var(--sm-content-width);
    margin: 0 auto;
}

.sc-service .group-video .control-area{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sc-service .group-video:hover .control-area{
    display: block;
}

.sc-service .group-video .btn-control svg .pause {
    display: block;
}
.sc-service .group-video .btn-control svg .play {
    display: none;
}

.sc-service .group-video .btn-control.on svg .pause {
    display: none;
}
.sc-service .group-video .btn-control.on svg .play {
    display: block;
}

.sc-card{margin-bottom: 140px;}
.sc-card br{
    display: none;
}
.sc-card .card-slide{
}
.sc-card .swiper-wrapper{
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}
.sc-card .swiper-slide{
    width: 240px;
    box-sizing: border-box;
}
.sc-card .swiper-slide a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 240px;
    padding: 32px 24px;
    background-color: #f5f5f5;
    transition: background-color .3s;
    aspect-ratio: 1;
    box-sizing: border-box;
}
.sc-card .swiper-slide a:hover{
    background-color: var(--primary-normal);
}
.sc-card .swiper-slide .title{
    display: -webkit-box;
    overflow: hidden;    
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.4px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.sc-card .swiper-slide .name{
    font-size: 14px;
    font-weight: 700;
}

.sc-news{
    padding-bottom: 140px;
}
.sc-news .headline{
    padding: 0 45px 80px;    
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    letter-spacing: -1.2px;
}
.sc-news .news-cont{
    display: flex;
    flex-wrap: wrap;
    max-width: var(--sm-content-width);
    margin: 0 auto;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    box-sizing: content-box;
    column-gap: 20px;
    row-gap: 32px;
}
.sc-news .news-top{
    padding-bottom: 16px;
}
.sc-news .news-top .news-list{
    display: flex;
    gap: 20px;
}
.sc-news .news-top .news-item{
    width: calc(50% - 10px);
}
.sc-news .news-top .news-item a{

}
.sc-news .news-top .news-item .thumb{
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    aspect-ratio: 380 / 215;
}
.sc-news .news-top .news-item .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-news .news-top .news-item .desc{}
.sc-news .news-top .news-item .desc p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -.4px;
}
.sc-news .news-top .news-item .desc time{
    font-size: 14px;
    font-weight: 400;
    color: #a6a7a9;
}

.sc-news .news-bottom{}
.sc-news .news-bottom .news-list{
    display: flex;
    gap: 32px;
    flex-direction: column;
}
.sc-news .news-bottom .news-item{
}
.sc-news .news-bottom .news-item a{
    display: flex;
    gap: 32px;
    width: 100%;
}
.sc-news .news-bottom .news-item .thumb{
    overflow: hidden;
    width: 225px;
    height: 128px;
}
.sc-news .news-bottom .news-item .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-news .news-bottom .news-item .desc{}
.sc-news .news-bottom .news-item .desc p{
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -.4px;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.sc-news .news-bottom .news-item .desc time{
    font-size: 14px;
    font-weight: 400;
    color: #a6a7a9;
}
.sc-news .btn-more{
    display: block;
    align-items: center;
    height: 52px;
    margin: 32px auto 0;
    padding: 0 22px;
    background-color: #f3f4f5;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    border-radius: 8px;
}

.sc-font{
    overflow: hidden;
    padding: 160px 0;
    background-color: #000;
}
.sc-font .headline{
    color: #fff;
}
.sc-font strong br{
    display: none;
}
.sc-font .font-list{
    display: flex;
    width: max-content;
    animation: smoothscroll 22s linear infinite
}

@keyframes smoothscroll {
    to {
        transform: translateX(-50%);
    }
}

.sc-font .font-item{
    display: block;
    flex: none;
    position: relative;
    width: 160px;
    height: 128px;
    margin-right: 10px;
    padding: 16px;
    background: #37373a;
}
.sc-font .font-item span{
    font-size: 16px;
    font-weight: 700;
    color: #6c6d6f;
    text-align: left;
}
.sc-font .font-item em{
        position: absolute;
    right: 20px;
    bottom: 20px;
}
.sc-font .btn-more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    margin: 60px auto 0;
    padding: 0 22px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .3);
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: #fff;
    border-radius: 8px;
}

@media (max-width:1280px){}
@media (max-width:1060px){}
@media (max-width:980px){
    .sc-visual .swiper-slide .headline{
        padding: 0 20px;
    }
    .sc-visual .swiper-slide .headline br{
        display: block;
    }
    .sc-visual .swiper-slide .headline strong{
        margin-bottom: 18px;
        font-size: clamp(30px, 11.7333333333vw, 44px);
    }
    .sc-visual .control .swiper-pagination{
        width: 150px;
    }
    .sc-visual .control .btn{
        display: none;
    }
    .sc-service{
        margin-bottom: 120px;
        padding-top: 120px;
    }
    .sc-service .headline{
        padding: 0 20px 60px;
        
    }
    .sc-service .headline strong{
        font-size: 32px;
        line-height: 1.3125;
    }
    .sc-card{
        margin-bottom: 120px;
    }
    .sc-card .headline{
        padding: 0 20px 60px;
    }
    .sc-card br{
    display: block;
}
    .sc-card .headline strong{
        font-size: 32px;
        line-height: 1.3125;
    }
     .sc-card .swiper-slide {
        width: 200px;
     }
    .sc-card .swiper-slide a{
        width: 200px;
        background-position: calc(100% - 20px) calc(100% - 20px);
        background-size: 50px 50px;
    }
    .sc-news{
        padding-bottom: 120px;
    }
    .sc-news .headline{
        padding: 0 20px 60px;
        font-size: 32px;
        line-height: 1.3125;
    }
    .sc-news .news-top .news-list{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .sc-news .news-top .news-item {
        width: 100%;
    }
    .sc-news .news-top .news-item .thumb{
        width: 100%;
        height: auto;
        margin-bottom: 32px;
        margin-bottom: 16px;
        aspect-ratio: 380 / 215;
    }
    .sc-news .news-top .news-item .thumb img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sc-news .news-top .news-item .desc p{
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.625;
    }
    .sc-news .news-top .news-item .desc time{
        font-size: 12px;
    }
    .sc-news .news-cont{
        padding: 0 20px;
        row-gap: 20px;
    }
    .sc-news .desc{
        padding-bottom: 20px;
        line-height: 1.1;
    }
    .sc-news .news-bottom{
        width: 100%;
    }
    .sc-news .news-bottom .news-item a{
        display: block;
    }
    .sc-news .news-bottom .news-item .desc{
    border-bottom: 1px solid #eee;
    }
    .sc-news .news-bottom .news-item .desc p{
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.625;
    }
    .sc-news .news-bottom .news-item .desc time{
        font-size: 12px;
    }
    .sc-news .news-bottom .thumb{
        display: none;
    }
    .sc-news .btn-more{
        margin-top: 60px;
    }
    .sc-font{
        padding: 120px 0;
    }
    .sc-font .headline{
        padding: 0 20px 60px;
    }
    .sc-font .headline strong{
        font-size: 32px;
        line-height: 1.3125;
    }
    .sc-font strong br{
    display: block;
    }

}

