:root{
    --primary-10: #e6fff8;
    --primary-20: #b0ffeb;
    --primary-30: #87ffe5;
    --primary-40: #35fcdf;
    --primary-50: #0cefd3;
    --primary-60: #00c9b9;
    --primary-70: #00a39b;
    --primary-80: #007d7b;
    --primary-90: #006462;
    --primary-100: #004b4a;
    --primary-text: var(--primary-60);
    --primary-light: var(--primary-10);
    --primary-neutral: var(--primary-30);
    --primary-normal: var(--primary-50);
    --primary-strong: var(--primary-90);
    --primary-heavy: var(--primary-100);
    --header-height: 72px;
    --header-background-color: #fff;
    --scroll-margin-gap: 8px;
    --scroll-margin-top: calc(var(--header-height) + var(--scroll-margin-gap));
    --gutter: 45px;
    --max-width: 1920px;
    --md-content-width: 980px;
    --sm-content-width: 780px;
}

*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}


@font-face {
    font-family: 'Pretendard Variable';
    src: url('../font/PretendardVariable.subset.79.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard Variable';
    src: url('../font/PretendardVariable.subset.88.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard Variable';
    src: url('../font/PretendardVariable.subset.89.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard Variable';
    src: url('../font/PretendardVariable.subset.90.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    font-size: 16px;
    line-height: 1.5;
    color: #232324;
    font-family: 'Pretendard Variable', 'Pretendard', 'sans-serif';
    letter-spacing: -.02em;
}