@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import './reset.css';
@import './common.css';

#wrap{
    min-width: 1340px;
}
#header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1280px;
    height: 215px;
    margin: 0 auto;
    
}
#header .group-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 52px;
    width: 100%;
}
#header .search-area{
    display: flex;
    width: 706px;
    border: 1px solid #03c75a;
    background-color: #fff;
    border-radius: 33px;
}
#header .search-area .logo{}
#header .search-area .logo a{
    display: block;
    padding: 17px 16px 17px 27px;
}
#header .search-area .logo svg{
    height: 24px;
    fill: #03c75a;
}
#header .search-area .search-wrap{
    flex: 1;
}
#header .search-area fieldset{
    display: flex;
    height: 100%;
}
#header .search-area .input-text{
    flex: 1;
    padding: 17px 0;
    border: 0;
    outline: none;
    font-size: 2rem;
    line-height: 24px;
}
#header .search-area .input-text::placeholder{
    color: transparent;
}
#header .search-area .input-text:focus::placeholder{
    color: rgba(0, 0, 0, 0.1);
}
#header .search-area .btn-keyborad{
    padding: 22px 3px;
}
#header .search-area .btn-keyborad::after{
    display: block;
    width: 24px;
    height: 14px;
    background-position: -123px -301px;
    content: '';
}
#header .search-area .btn-auto{
    padding: 26px 6px;
}
#header .search-area .btn-auto::after{
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background-position: -457px -411px;
}
#header .search-area .btn-submit{
    padding: 17px 27px 16px 10px;
}
#header .search-area .btn-submit svg{
    height: 25px;
}
#header .nav-area{
    margin-top: 10px;
}
#header .nav-area .nav-list{
    display: flex;
}
#header .nav-area .nav-item{
    width: 64px;
    font-size: 16px;
    font-weight: 700;
}
#header .nav-area .nav-item+.nav-item{
    margin-left: -10px;
}
#header .nav-area .link{
    display: flex;
    gap: 4px;
    width: 64px;
    flex-direction: column;
    align-items: center;
}
#header .nav-area .name{}
#header .nav-area .icon{
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0 auto;
}
#header .nav-area .icon::before{
    display: block;
    position: absolute;
    top: -1px;
    left: -3px;
    width: 50px;
    height: 50px;
    background-position: -102px -142px;
    content: "";
}
#header .nav-area .icon::after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%,-50%);
    content: '';
}
#header .nav-area .ic-mail::after{
    background-position: -205px -219px;
}
#header .nav-area .ic-cafe::after{
    background-position: -41px -219px;
}
#header .nav-area .ic-vlog::after{
    background-position: 0px -219px;
}
#header .nav-area .ic-store::after{
    background-position: -41px -260px;
}
#header .nav-area .ic-news::after{
    background-position: -270px -205px;
}
#header .nav-area .ic-stock::after{
    background-position: -123px -260px;
}
#header .nav-area .ic-real::after{
    background-position: 0px -260px;
}
#header .nav-area .ic-map::after{
    background-position: -270px 0px;
}
#header .nav-area .ic-webtoon::after{
    background-position: -164px -260px;
}
#header .nav-area .ic-more::after{
    background-position: -270px -123px;
}
#header .nav-area .ic-more::after{
    background-position: -270px -123px;
}
#header .nav-area .ic-live::after {
    content: none;
}
#header .nav-area .ic-live img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#header .util-area{
    display: flex;
    align-items: flex-start;
}
#header .util-area [class*="btn-"]{
    padding: 8px;
}
#header .util-area [class*="btn-"]::after{
    display: block;
    width: 32px;
    height: 32px;
    content: '';
}
#header .util-area .btn-menu::after{background-position: -311px -151px;}
#header .util-area .btn-pay::after{    background-position: 0px -318px;}
#header .util-area .btn-talk::after{background-position: -132px -318px;}
#header .util-area .btn-alert::after{background-position: -311px -217px;}
#header .util-area .btn-cart::after{background-position: -66px -318px;}

#footer{
    border-top: 1px solid var(--color_border_in_divider);
    background-color: #f5f6f7;
}
#footer .inner{
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 78px;
    font-size: 1.3rem;
}

#footer .group-campaign{
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
}
#footer .campaign-list{
    display: flex;
}
#footer .campaign-item{
    width: 410px;
}
#footer .campaign-item+.campaign-item{
    margin-left: 20px;
}
#footer .campaign-item a{
    display: flex;
    gap: 18px;
}
#footer .campaign-item .thumb{
}
#footer .campaign-item .thumb img{
    width: 160px;
    height: 100px;
    border-radius: 6px;
}
#footer .campaign-item .content{
    display: flex;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    padding: 5px 3px 0 0;
    box-sizing: border-box;
}
#footer .campaign-item .content .name{
    height: 20px;
    padding: 0 6px;
    background-color: #a0adb2;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    letter-spacing: -0.25px;
    border-radius: 4px;
}
#footer .campaign-item .content .title{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
#footer .campaign-item .content .desc{
    margin-top: 6px;
    line-height: 1.43;
    color: #545454;
}
#footer .group-notice{
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    border-bottom: 1px solid #ebebeb;
    font-weight: bold;
    line-height: 17px;
}
#footer .group-notice .title{
}
#footer .group-notice .link-all{
    display: flex;
}
#footer .group-notice .link-all::after{
    display: block;
    width: 8px;
    height: 12px;
    margin: 3px 0 0 10px;
    background-position: -453px -245px;
    content: '';
}

#footer .group-partner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
}
#footer .partner-area{
    padding: 20px 0;
}
#footer .partner-area .partner-wrap{
    display: flex;
}
#footer .partner-area .partner-wrap+.partner-wrap{
    margin-top: 10px;
}
#footer .partner-area .title{
    width: 96px;
    padding-right: 9px;
    font-weight: bold;
}

#footer .partner-area .partner-list{
    display: flex;
}
#footer .partner-area .partner-list .partner-item{}
#footer .partner-area .partner-list .partner-item+.partner-item::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    content: "";
    vertical-align: -1px;
}
#footer .partner-area .partner-list .partner-item a{
    color: #404040;
}

#footer .partner-area .developer-list{
    display: flex;
    line-height: 20px;
}
#footer .partner-area .developer-list .developer-item+.developer-item::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    content: "";
    vertical-align: -1px;
}
#footer .partner-area .developer-list .developer-item a{
    color: #404040;
}

#footer .service-area{
    display: flex;
    padding: 21px 0;
}
#footer .service-area .service-wrap{
    display: flex;
    height: 48px;
}
#footer .service-area .service-wrap+.service-wrap{
    margin-left: 30px;
}
#footer .service-area .service-wrap .info{
    display: flex;
    flex-direction: column;
}
#footer .service-area .service-wrap .info .title{
    padding-top: 5px;
    font-weight: bold;
}
#footer .service-area .service-wrap .info .link{
    padding-top: 5px;
}
#footer .service-area .service-wrap .logo{}
#footer .service-area .service-wrap .logo a{
    display: block;
    margin-left: 11px;
}
#footer .service-area .service-wrap .logo img{
    width: 48px;
    height: 48px;
}
#footer .group-corp{
    display: flex;
    padding-top: 20px;

}
#footer .corp-list{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#footer .corp-list .corp-item+.corp-item::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #d3d5d7;
    content: '';
}
#footer .corp-list .corp-item a{
    color: #404040;
}
#footer .group-corp .link-address{
}
#footer .group-corp .link-address a{
    font-weight: bold;
}