html{
    font-size: 10.5px;
    line-height: 10.5px;
}
body{
    font-size: 1.4rem;
    line-height: 1.7rem;
}

#main{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.main-left{
    width: 830px;
}
.main-right{
    width: 420px;
}

.module-frame{
    position: relative;
    -webkit-box-shadow: 0 0 0 1px #2f3238,0 1px 2px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    background-color: #fff;
    background-color: var(--color_block_bg);
    border-radius: 8px;
}
.module-frame+.module-frame {
    margin-top: 16px;
}
.ad-banner{
    overflow: hidden;
}

.sc-news{}
.sc-news .group-head{
    padding: 18px 20px 17px;
}
.sc-news .group-head .tab-list{
    display: flex;
}
.sc-news .group-head .tab-item+.tab-item{
    position: relative;
    padding-left: 26px;
}
.sc-news .group-head .tab-item+.tab-item::before{
    display: block;
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    content: "";
}
.sc-news .group-head .tab-item.first{
    display: flex;
}
.sc-news .group-head .tab-item.first a{
    display: flex;
    align-items: center;
}
.sc-news .group-head .tab-item.first a+a::before{
    width: 3px;
    height: 3px;
    margin: 0 8px;
    background: #00000026;
    content: "";
}
.sc-news .group-head .tab-item a{
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 23px;
    color: rgba(8,8,8,.5);
    -webkit-font-smoothing: antialiased;
}

.sc-news .group-issue{
    display: flex;
    margin: 0 20px;
    padding: 12px 20px;
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    line-height: 26px;
    border-radius: 4px;
}
.sc-news .group-issue .issue-area{
    display: flex;
    flex: 1;
}
.sc-news .group-issue .btn-all{
    display: flex;
    gap: 3px;
    align-items: center;
}
.sc-news .group-issue .btn-all::after{
    width: 9px;
    height: 6px;
    background-position: -453px -436px;
    content: "";
}
.sc-news .group-issue .link-media{
    position: relative;
    padding-left: 25px;
}
.sc-news .group-issue .link-media::before{
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    width: 1px;
    height: 12px;
    background-color: #00000026;
    content: '';
}
.sc-news .group-issue .link-issue{}
.sc-news .group-issue .news-area{
display: flex;
}
.sc-news .group-issue .link-news{}


.sc-news .group-media{
    overflow: hidden;
    position: relative;
    height: 222px;
    margin: 18px 20px 18px 20px;
    border: 1px solid #ebebeb;
    border: 1px solid var(--color_border_in);
    border-radius: 4px;
}
.sc-news .group-media .media-list{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
}
.sc-news .group-media .media-item{}
.sc-news .group-media .media-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sc-news .group-media .media-item img{
    height: 20px;
}

.sc-news .group-media .vt-line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ebebeb;
}
.sc-news .group-media .vt-line.vt1{
    left: calc(100% / 6);
}
.sc-news .group-media .vt-line.vt2{
    left: calc((100% / 6)*2);
}
.sc-news .group-media .vt-line.vt3{
    left: calc((100% / 6)*3);
}
.sc-news .group-media .vt-line.vt4{
    left: calc((100% / 6)*4);
}
.sc-news .group-media .vt-line.vt5{
    left: calc((100% / 6)*5);
}

.sc-news .group-media .hr-line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ebebeb;
}
.sc-news .group-media .hr-line.hr1{
    top: calc((100% / 4));
}
.sc-news .group-media .hr-line.hr2{
    top: calc((100% / 4)*2);
}
.sc-news .group-media .hr-line.hr3{
    top: calc((100% / 4)*3);
}

.sc-news .group-control{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 11px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    line-height: 34px;
    text-align: center;
}
.sc-news .group-control .control-area{
    display: flex;
}
.sc-news .group-control [class*="btn_"]{
    position: relative;
    width: 36px;
    height: 36px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
     background-color: #fff;
    border-radius: 50%;
}
.sc-news .group-control [class*="btn_"]::after{
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    background-position: -204px -56px;
    content: '';
}
.sc-news .group-control .btn_prev::after{
    transform: rotate(180deg);
}

.sc-news .group-control .fraction{
    display: flex;
    padding: 0 16px;
}
.sc-news .group-control .view-area{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.sc-news .group-control .btn-list{
    padding: 18px 9px 18px 20px;
}
.sc-news .group-control [class*="btn-"]::before{
    display: block;
    width: 20px;
    height: 20px;
    content: '';
}
.sc-news .group-control .btn-list::before{
    background-position: -197px -370px;
}
.sc-news .group-control .btn-thumb::before{
    background-position: -227px -397px;
}
.sc-news .group-control .btn-thumb{    
    padding: 18px 20px 18px 9px;
}
.sc-shopping{}
.sc-shopping .group-head{
    position: relative;
    padding: 19px 20px 16px;
}
.sc-shopping .menu-area{}
.sc-shopping .menu-area .menu-list{
    display: flex;
}
.sc-shopping .menu-area .menu-item{}
.sc-shopping .menu-area .menu-item+.menu-item{
    position: relative;
    padding-left: 26px;
}
.sc-shopping .menu-area .menu-item+.menu-item::before{
    display: block;
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    transform: skewX(-15deg);
    content: "";
}
.sc-shopping .menu-area .menu-item a{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 23px;
    color: rgba(8,8,8,.5);
    vertical-align: top;
}
.sc-shopping .navi-area {
    display: flex;
    position: absolute;
    top: 4px;
    right: 20px;
    margin-left: auto;
    padding: 10px 0;
}
.sc-shopping .navi-area .num{
    display: inline-block;
    margin: 6px 9px 8px 0;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 16px;
    color: #606060;
    color: var(--color_caption2);
    vertical-align: top;
}
.sc-shopping .navi-area .curr{}
.sc-shopping .navi-area .total{
    color: rgba(113, 113, 113, .6);
}
.sc-shopping .group-head .navi-area [class*="btn-"] {
    position: relative;
    width: 30px;
    height: 30px; 
    border: 1px solid rgba(211,213,215,.8);
    vertical-align: top;
}
.sc-shopping .group-head .navi-area .btn-prev{
    border-radius: 4px 0 0 4px;
}
.sc-shopping .group-head .navi-area .btn-prev::before{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    margin-left: 2px;
    margin-left: 1px;
    border-bottom: 2px solid #80868c;
    border-left: 2px solid #80868c;
    transform: translate(-50%,-50%) rotate(45deg);
    content: "";
}
.sc-shopping .group-head .navi-area .btn-next{
    border-radius: 0 4px 4px 0;
}
.sc-shopping .group-head .navi-area .btn-next::before{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    margin-left: -2px;
    margin-left: -1px;
    border-top: 2px solid #80868c;
    border-right: 2px solid #80868c;
    transform: translate(-50%,-50%) rotate(45deg);
    content: "";
}

.sc-shopping .group-container{
    display: flex;
    height: 376px;
    padding: 0 20px 1px;
    box-sizing: border-box;
}
.sc-shopping .group-container .col{
    flex: 1;
    width: 248px;
}
.sc-shopping .mall-area {
    padding: 9px 11px 4px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: rgba(245,248,251,.6);
    border-radius: 4px;
}
.sc-shopping .mall-area .mall-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.sc-shopping .mall-area .mall-item a{
    font-size: 13px;
    line-height: 20px;
    color: #404040;
    color: var(--color_caption1);
    letter-spacing: -.6px;
}
.sc-shopping .mall-area .dot{
    width: 3px;
    height: 3px;
    margin: 9px 0 0;
    background-color: #d3d5d7;
    border-radius: 50%;
    vertical-align: top;
}

.sc-shopping .mypage-area{
    margin-top: 12px;
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: rgba(245,248,251,.6);
    border-radius: 4px;
}
.sc-shopping .mypage-list{
    display: flex
;
    position: relative;
}
.sc-shopping .mypage-item{
    flex: 1;
}
.sc-shopping .mypage-item .link{
    display: block;
    text-align: center;
}
.sc-shopping .mypage-item [class*="icon-"]{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(238, 242, 248, .8);
    background: #fff;
    line-height: 32px;
    border-radius: 50%;
}
.sc-shopping .mypage-item [class*="icon-"]::before{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    content: '';
}
.sc-shopping .mypage-item .icon-my::before{
    background-position: -158px -40px;
}
.sc-shopping .mypage-item .icon-review::before{
    background-position: -83px -62px;
}
.sc-shopping .mypage-item .icon-order::before{
    background-position: -192px -74px;
}
.sc-shopping .mypage-item .icon-cart::before{
    background-position: -124px -74px;
}
.sc-shopping .mypage-item .name{
    margin-top: 2px;
    font-size: 13px;
    line-height: 20px;
    color: #404040;
    color: var(--color_caption1);
}
.sc-shopping .ad-banner{
    margin-top: 12px;
}
.sc-shopping .ad-banner .link{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.sc-shopping .ad-banner .thumb{
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
}
.sc-shopping .ad-banner .thumb img{
    width: 248px;
    height: 146px;
}
.sc-shopping .ad-banner .text{
    font-size: 1.3rem;
    line-height: 19px;
    text-align: center;
}


.sc-shopping .product-area{
    width: 522px;
    margin-left: 20px;
}
.sc-shopping .product-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
}

.sc-shopping .product-list .product-item{
    padding: 0 0 14px;
}
.sc-shopping .product-list .product-item a{}

.sc-shopping .product-list .product-item .thumb{
    width: 98px;
    height: 126px;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
}
.sc-shopping .group-container .product-item .thumb img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.sc-shopping .group-container .product-item span{
        display: block;
    padding-top: 8px;
    font-size: 1.3rem;
    line-height: 20px;
    letter-spacing: -.4px;
}
.sc-shopping .group-event{
    display: flex;
    width: 790px;
    margin: 0 20px 18px;
    padding: 15px 20px 14px;
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    line-height: 21px;
    border-radius: 4px;
    box-sizing: border-box;
}
.sc-shopping .group-event .event-title{
    position: relative;
    padding-right: 19px;
    font-weight: 700;
}
.sc-shopping .group-event .event-title::after{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    content: "";
    border-radius: 50%;
}
.sc-shopping .group-event .link{
    display: flex;
}
.sc-shopping .group-event .link .logo{
    padding-top: 4px;
}
.sc-shopping .group-event .link img {
    height: 13px;
}
.sc-shopping .group-event .link .desc {
    margin-left: 8px;
}
.sc-shopping .group-control{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 11px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    line-height: 34px;
}
.sc-shopping .group-control [class*="btn-"]{
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: top;
}
.sc-shopping .group-control [class*="btn-"]::before{
    display: block;
    width: 10px;
    height: 12px;
    margin: 0 auto;
     background-position: -204px -56px;
    content: '';
}
.sc-shopping .group-control .btn-prev::before{
    transform: rotate(180deg);
}
.sc-shopping .group-control .fraction{
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.sc-shopping .group-control .fraction .text{
    padding-right: 4px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 35px;
    color: #606060;
    color: var(--color_caption2);
}
.sc-shopping .group-control .fraction .text .point{
        color: #9858f5;
}
.sc-shopping .group-control .fraction .num{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 35px;
}
.sc-shopping .group-control .fraction .num .curr{
        color: var(--color_caption2);
}
.sc-shopping .group-control .fraction .num .total{
        color: rgba(96, 96, 96, .5);
}

.sc-recommend{}
.sc-recommend .group-head{
    padding: 18px 20px 17px;
}
.sc-recommend .group-head .tab-list{
    display: flex;
}
.sc-recommend .group-head .tab-item.first{
    display: flex;
}
.sc-recommend .group-head .tab-item.first a{
    display: flex;
    align-items: center;
    color: #080808;
}
.sc-recommend .group-head .tab-item.first a+a::before{
    width: 5px;
    height: 5px;
    margin: 0 6px;
    background: #080808;
    content: "";
    border-radius: 50%;
}
.sc-recommend .group-head .tab-item+.tab-item{
    position: relative;
    padding-left: 26px;
}
.sc-recommend .group-head .tab-item+.tab-item::before{
    display: block;
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    transform: skewX(-15deg);
    content: "";
}
.sc-recommend .group-head .tab-item a{
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 23px;
    color: rgba(8,8,8,.5);
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}
.sc-recommend .group-nav{
    display: flex;
    margin: 0 20px 18px;
    background-color: #f5f7f8;
    border-radius: 4px;
}
.sc-recommend .group-nav .list-area{
    display: flex;
}
.sc-recommend .group-nav .list-area .tab-list{
    display: flex;
    padding: 7px 10px;
}
.sc-recommend .group-nav .list-area .tab-list .tab-item{
    margin: 0 2px;
}
.sc-recommend .group-nav .list-area .tab-list .tab-item a{
    display: block;
    padding: 0 12px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    line-height: 34px;
    color: #404040;
    text-align: center;
    border-radius: 18px;
}
.sc-recommend .group-nav .list-area .tab-list .tab-item.first a{
    background-color: #5290ff;
    font-weight: 800;
    color: #fff;
}

.sc-recommend .group-nav .home-area{
    margin-left: auto;
}
.sc-recommend .group-nav .home-area .link-home{
    padding: 0 20px;
    font-weight: bold;
    line-height: 50px;
}
.sc-recommend .group-feed{
    margin-bottom: 4px;
    padding-right: 20px;
}
.sc-recommend .group-feed .feed-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
.sc-recommend .group-feed .feed-item{
    padding: 0 0 20px 20px;
}
.sc-recommend .group-feed .feed-item a{}
.sc-recommend .group-feed .feed-item .thumb{
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
}
.sc-recommend .group-feed .feed-item .thumb img{
    width: 100%;
    height: 120px;
}
.sc-recommend .group-feed .feed-item .info{
    margin-top: 10px;
    line-height: 20px;
}
.sc-recommend .group-feed .feed-item .info .desc{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sc-recommend .group-feed .feed-item .info .source{
    display: flex;
    margin-top: 4px;
}
.sc-recommend .group-feed .feed-item .info .source img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 50%;
}
.sc-recommend .group-shorts {
    position: relative;
    width: 100%;
    height: 315px;
    padding: 0 20px;
    border-top: 1px solid #ebebeb;
}
.sc-recommend .group-shorts .title{
    padding: 23px 0 15px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 22px;
}
.sc-recommend .group-shorts .shorts-list{
    display: flex;
}
.sc-recommend .group-shorts .shorts-item{
    flex: 1;
}
.sc-recommend .group-shorts .shorts-item+.shorts-item{
    padding: 0 0 20px 28px;
}
.sc-recommend .group-shorts .shorts-item a{
    display: block;
    width: 108.33px;
}
.sc-recommend .group-shorts .shorts-item .thumb{
    overflow: hidden;
    border-radius: 4px;
}
.sc-recommend .group-shorts .shorts-item .thumb img{
    width: 100%;
    height: 156px;
}
.sc-recommend .group-shorts .shorts-item .info{}
.sc-recommend .group-shorts .shorts-item .info .desc{
    display: -webkit-box;
    overflow: hidden;
    margin-top: 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sc-recommend .group-shorts .shorts-item .info .source{
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 20px;
    color: var(--color_caption2);
}
.sc-recommend .group-shorts .btn-next{
    position: absolute;
    top: 120px;
    right: 9px;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color_button_border);
    border: 1px solid #00000026;
    background: #fff;
    border-radius: 50%;
}
.sc-recommend .group-shorts .btn-next::before{
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    background-position: -204px -56px;
    content: '';
}
.sc-recommend .group-more {
    border-top: 1px solid #ebebeb;
}
.sc-recommend .group-more .btn-more{
    position: relative;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 56px;
    color: #404040;
}
.sc-recommend .group-more .btn-more .plus{
    display: inline-block;
    position: relative;
        width: 10px;
    height: 10px;
    margin: 23px 0 0 5px;
    vertical-align: top;
}
.sc-recommend .group-more .btn-more .plus::before{
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 50%;
    width: 100%;
    background-color: #2196F3;
    transform: translateX(-50%);
    content: '';
}
.sc-recommend .group-more .btn-more .plus::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 4px;
    left: 4px;
    height: 100%;
    background-color: #2196F3;
    transform: translateY(-50%);
    content: '';
}



/* right */

.sc-login{
    padding: 21px 20px 18px;
    line-height: 20px;
    text-align: center;
}
.sc-login .login-msg{
    font-size: 1.4rem;
}
.sc-login .link-login{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    padding: 17px 0;
    border: 1px solid rgba(0,0,0,.06);
    -webkit-box-shadow: 0 2px 4px 0 rgba(3,199,90,.12);
    box-shadow: 0 2px 4px 0 rgba(3,199,90,.12);
    background-color: #03c75a;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

}
.sc-login .link-login::before{
    width: 72px;
    height: 14px;
    background-position: 0px -301px;
    content: "";
}

.sc-login .more-area{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 1.3rem;
    color: #606060;
    color: var(--color_caption2);
}
.sc-login .more-area a{
    display: flex;
    align-items: center;
}
.sc-login .more-area a+a::before{
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background: #ccc;
    content: '';
}

.sc-weather{
    padding: 0 18px;
}
.sc-weather .group-head{
    display: flex;
    padding: 6px 0;
    line-height: 40px;
}
.sc-weather .group-head .head-area{
    display: flex;
}
.sc-weather .group-head .head-area .title{
    padding-right: 7px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #080808;
    color: var(--color_title);
    vertical-align: top;
}
.sc-weather .group-head .head-area .compare{
    display: inline-block;
    min-width: 75px;
    height: 26px;
    margin-top: 7px;
    padding: 0 10px 0 7px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    font-size: 1.1rem;
    line-height: 25px;
    color: #606060;
    border-radius: 15px;
    vertical-align: top;
}
.sc-weather .group-head .head-area .compare::before{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 0;
    background-position: -104px -430px;
        content: "";
    vertical-align: top;
}
.sc-weather .group-head .location-area{
    margin-left: auto;
    font-size: 1.3rem;
    color: var(--color_caption2);
}

.sc-weather .group-weather{
    display: flex;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
}
.sc-weather .group-weather .summary-area{
    display: flex;
    flex: 1;
    flex-direction: column; 
    margin: 20px 0 18px;
}
.sc-weather .group-weather .link-condition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}
.sc-weather .group-weather .curr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}
.sc-weather .group-weather .curr .icon{
    width: 86px;
    height: 86px;
    margin-right: 4px;
}
.sc-weather .group-weather .curr .icon::before{
    display: inline-block;
    width: 86px;
    height: 86px;
    background-position: 0px -174px;
    content: "";
}
.sc-weather .group-weather .curr .temp{
    display: flex;
    flex-direction: column;
        min-width: 0;
    font-size: 3.9rem;
    line-height: 48px;
    letter-spacing: -2px;
}
.sc-weather .group-weather .curr .status{
    padding-left: 5px;
    padding-left: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.sc-weather .group-weather .link-condition .num{
    margin-top: 16px;
    line-height: 16px;
    text-align: center;
}
.sc-weather .group-weather .link-condition .num .temp-low{
    color: #3172e7;
}
.sc-weather .group-weather .link-condition .num .temp-high{
    color: #cd3534;
}
.sc-weather .group-weather .link-condition .num .temp-high::before{
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 5px 0 3px;
    background-color: #d3d5d7;
    transform: skewX(-15deg);
    content: "";
    vertical-align: -1px;
}
.sc-weather .group-weather .link-air{
    display: inline-block;
    margin-top: 6px;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
}
.sc-weather .group-weather .link-air .point{
        padding-left: 4px;
    color: #02c73c;
}
.sc-weather .group-weather .link-air .ultra:before{
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 6px 0;
    background-color: #d3d5d7;
    content: "";
    border-radius: 50%;
    vertical-align: top;
}

.sc-weather .forecast-area{
    flex: 1;
    margin: 20px 0 18px 24px;
}
.sc-weather .forecast-list{
    display: flex;
    justify-content: space-between;
    height: 143px;
}
.sc-weather .forecast-item{

    position: relative;
    width: 32px;
    text-align: center;
}
.sc-weather .forecast-item .time{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.3rem;
    line-height: 16px;
    white-space: nowrap;
}
.sc-weather .forecast-item .icon{
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    width: 32px;
    height: 32px;
}
.sc-weather .forecast-item .icon::before{
    display: block;
    width: 32px;
    height: 32px;
    background-position: -33px -522px;
    content: '';
}
.sc-weather .forecast-item .icon.cloudy::before{
    background-position: -165px -522px;
}
.sc-weather .forecast-item .graph{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
}
.sc-weather .forecast-item .graph::before{
    display: block;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 15px;
    width: 1px;
    background-color: #00000014;
    content: '';
}

.sc-finance{
    padding: 0 18px;
} 
.sc-finance .group-head{
    display: flex;
    padding: 6px 0;
    line-height: 40px;
}
.sc-finance .group-head .head-area{
    display: flex;
    gap: 7px;
}
.sc-finance .head-area .title{
    font-size: 1.5rem;
    font-weight: 800;
    color: #080808;
    color: var(--color_title);
    vertical-align: top;
}
.sc-finance .head-area .dialog{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 -4px;
}

.sc-finance .group-head .dialog::before{
    display: block;
    width: 14px;
    height: 14px;
    margin: auto;
    background-position: -243px -316px;
    content: '';
}

.sc-finance .group-head .time-area{
    margin-left: auto;
}
.sc-finance .time-area .curr{
    font-size: 1.3rem;
    color: #606060;
}
.sc-finance .time-area .refresh{
    padding: 12px 0 12px 5px;
    vertical-align: top;
}
.sc-finance .time-area .refresh::before{
    display: block;
    width: 16px;
    height: 16px;
    background-position: -204px -176px;
    content: "";
}
.sc-finance .group-info{
    display: flex;
    position: relative;
    border-top: 1px solid #ebebeb;
}
.sc-finance .group-info .index-area{
    display: block;
    flex: 1;
    margin: 8px 0 15px;
    padding-top: 8px;
}
.sc-finance .group-info .index-area a{}
.sc-finance .index-area .name{
    display: block;
    font-size: 15px;
    line-height: 18px;
}
.sc-finance .index-area .value{
    display: block;
    margin-top: 1px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.7px;
}
.sc-finance .index-area .gap{
    position: relative;
    margin-top: 1px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #f44336;
}
.sc-finance .index-area .up{
    position: absolute;
    top: 3px;
    left: 0;
}
.sc-finance .index-area .chart{
    margin-top: 10px;
}

.sc-finance .up::before{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: -78px -430px;
    content: "";
}
.sc-finance .down::before{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: -52px -430px;
    content: '';
}




.sc-finance .group-info .stock-area{
    width: 180px;
    margin: 8px 0 15px 25px;
}
.sc-finance .stock-area .stock-list{
}
.sc-finance .stock-area .stock-item{
    display: flex;
    justify-content: space-between;
    height: 38px;
    padding: 8px 0 9px;
    border-bottom: 1px solid #ebebeb;
    line-height: 21px;
}
.sc-finance .stock-area .stock-item .name{
    overflow: hidden;
    max-width: 82px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sc-finance .stock-area .stock-item .price{
    display: flex;
    align-items: center;
}
.sc-finance .stock-area .stock-item .price .up{
    margin: 4px 4px 0 0;
    font-size: 1.1rem;
    color: #f44336;
}
.sc-finance .stock-area .stock-item .price .down{
    margin: 4px 4px 0 0;
    font-size: 1.1rem;
    color: #2196f3;
}


.sc-finance .stock-area .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding: 8px 0 9;
    border-bottom: 1px solid #ebebeb;
    line-height: 21px;
    color: #606060;
}
.sc-finance .stock-area .more::after{
    display: block;
    width: 10px;
    height: 12px;
    background-position: -453px -130px;
    content: '';
}

.sc-banner{}
.sc-banner a{
    display: block;
    height: 240px;
    padding: 18px 18px 0;
    box-sizing: border-box;
}
.sc-banner .title{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #1e1e23;
    letter-spacing: -.5px;
}
.sc-banner .group-product{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.sc-banner .group-product .img-area{
}
.sc-banner .group-product .img-area img{
    width: 195px;
    height: 130px;
    border-radius: 6px;
}
.sc-banner .group-product .text-area::before{
    height: 1px;
    background-color: #ebebeb;
    content: "";
}
.sc-banner .group-product .text-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 174px;
    font-size: 17px;
    line-height: 1.5;
    color: #303038;
    letter-spacing: -.5px;
}
.sc-banner .group-product .text-area::after{
    height: 1px;
    background-color: #ebebeb;
    content: "";
}
.sc-banner .group-brand{
    display: flex;
    margin-top: 15px;
}
.sc-banner .group-brand .logo-area{
    display: flex;
    align-items: center;
}
.sc-banner .group-brand .logo-area .logo{
    overflow: hidden;
    margin-right: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
}
.sc-banner .group-brand .logo-area .logo img{
    width: 22px;
    height: 22px;
    object-fit: cover;
}
    .sc-banner .group-brand .logo-area .name{
    font-size: 14px;
    font-weight: 500;
    color: #424244;
    letter-spacing: -.5px;
}
.sc-banner .group-brand .more-area{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
    font-weight: 500;
    color: #505052;
    letter-spacing: -.8px;
}
.sc-banner .group-brand .more-area svg{
    margin-left: 3px;
}

.sc-widget{
    position: relative;
    background-color: var(--color_board_bg);
}
.sc-widget .title{
    padding: 15px 17px 11px 19px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 23px;
    color: #080808;
}
.sc-widget .group-widget{
    padding: 3px 18px;
}
.sc-widget .group-widget .calendar-area{
    position: relative;
    width: 384px;
    height: 192px;
    padding: 8px 11px 8px 18px;
    box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, .04);
    background: #fff;
    border-radius: 8px;
}
.sc-widget .group-widget .calendar-title{
    /* width: 50%; */
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 34px;
    color: #080808;
}
.sc-widget .group-widget .wrap{
    display: flex;
    justify-content: space-between;
}
.sc-widget .group-widget .info{
    display: flex;
    margin-top: 4px;
}
.sc-widget .group-widget .info .date{
    margin: 0 -1px;
    font-size: 3.9rem;
    line-height: 48px;
    letter-spacing: -2px;
}
.sc-widget .group-widget .info .date .day{
    display: inline-block;
    margin: 23px 0 0 9px;
    font-size: 1.3rem;
    line-height: 20px;
    vertical-align: top;
}
.sc-widget .group-widget .link-login{
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: var(--color_caption2);
    text-decoration: underline;

}
.sc-widget .group-widget .link-calendar{
        width: 177px;
        height: 134px;
        padding: 7px 0 0 5px;
}

.sc-widget .group-widget .calendar-list{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.sc-widget .group-widget .calendar-item{
    position: relative;
    width: 24px;
    height: 20px;
    font-size: 12px;
    color: #101010;
    text-align: center;
}
.sc-widget .group-widget .calendar-item .holiday{
    font-size: 12px;
    color: #eb5b5b;
    text-align: center;
}
.sc-widget .group-widget .calendar-item .next{
    font-size: 12px;
    color: #606060;
    text-align: center;
}
.sc-widget .group-widget .calendar-item .curr{
    position: relative;
    z-index: 1;
    color: #fff;
}
.sc-widget .group-widget .calendar-item .curr::before{
    display: block;
    position: absolute;
    top: -2px;
    z-index: -1;
    width: 24px;
    height: 24px;
    background: #eb5b5b;
    content: "";
    border-radius: 50%;
}
.sc-widget .group-widget .vibe-area{
    width: 384px;
    height: 192px;
    margin-top: 12px;
    box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, .04);
    background: #fff;
    border-radius: 8px;
}
.sc-widget .group-widget .vibe-area .title-wrap{
    display: flex;
    padding: 14px 18px 0;
}
.sc-widget .group-widget .vibe-area .vibe-title::before{
    display: block;
    width: 64px;
    height: 16px;
    margin: 2px 8px 4px 0;
    background-position: -311px -17px;
    content: "";
}
.sc-widget .group-widget .vibe-area .vibe-title{
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 22px;
    color: #080808;
}
.sc-widget .group-widget .vibe-area .btn-refresh{
    margin-left: auto;
    font-size: 1.3rem;
    color: #606060;
}
.sc-widget .group-widget .vibe-area .btn-refresh::after{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-position: -285px -332px;
    content: "";
}
.sc-widget .group-widget .vibe-area .vibe-list{
    display: flex;
    gap: 12px;
    padding: 12px 18px 0;
}
.sc-widget .group-widget .vibe-list .vibe-item{
    position: relative;
}
.sc-widget .group-widget .vibe-list .vibe-item a{}
.sc-widget .group-widget .vibe-list .vibe-item .thumb{
    overflow: hidden;
    width: 108px;
    height: 126px;
    border-radius: 4px;
}
.sc-widget .group-widget .vibe-list .vibe-item .thumb img{
    width: 100%;
    height: 100%;
}
.sc-widget .group-widget .vibe-list .vibe-item .desc{
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    right: 8px;
    bottom: 7px;
    left: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.sc-widget .group-widget .vibe-list .vibe-item .play{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
}
.sc-widget .group-widget .vibe-list .vibe-item .play::after{
    display: block;
    width: 7px;
    height: 10px;
    background-position: -453px -375px;
    content: '';
}
.sc-widget .group-widget .btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 48px;
    height: 48px;
    border: 1px solid var(--color_button_border);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
    background: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
}
.sc-widget .group-widget .btn-next::after{
    display: block;
    width: 16px;
    height: 16px;
    background-position: -234px -332px;
    content: '';
}

.sc-widget .btn-mobile::before{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-position: -122px -376px;
    content: '';
}
.sc-widget .btn-mobile {
    display: flex;
    align-items: center;
    padding: 20px 23px 23px 22px;
    line-height: 22px;
}
.sc-widget .btn-mobile strong{
    font-weight: bold;
}
.sc-widget .btn-mobile::after{
    display: block;
    width: 8px;
    height: 12px;
    margin-left: auto;
    background-position: -453px -271px;
    content: '';
}