@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import './common.css';
@import './reset.css';

#wrap{}
#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    transform: translateY(-100%);
    transition: transform .3s, color .5s;
}
#header.show{
    transform: translateY(0);
}
#header.active{
    transition: .3s;
    filter: brightness(0) invert(0);
}
#header .inner{
}
#header .header{
    display: flex;
    justify-content: space-between;
}
#header .logo {
    width: 100px;
}
#header .logo a{
    display: inline-block;
    padding: 17px 0;
    color: #fff;
    text-decoration: none;
    transition: color .5s;
}
#header .logo img{
    width: 100%;
    transition: filter .5s;
    filter: brightness(0) invert(1);
}
#header .header-nav{
    display: flex;
    align-items: center;
}
#header .nav-list{
    display: flex;
    align-items: center;
    position: relative;
}
#header .nav-item{}
#header .nav-item a{
    display: inline-block;
    padding: 23px 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
#header .nav-item.lang{
    display: flex;
    align-items: center;
    padding: 20px 0 18px 25px;
}
#header .nav-item.lang .lang-area{
    display: flex;
    align-items: center;
    position: relative;
}
#header .nav-item.lang .lang-area .img{}
#header .nav-item.lang .lang-area .text{
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
#header .nav-item.lang .lang-area .more{}
#header .nav-item.lang .lang-list{
    position: absolute;
    top: 53px;
    right: 0;
    border: 1px solid #5a5a5a;
    background-color: #000;
    /* visibility: hidden; */
    text-align: center;
    opacity: 0;
    transition: all .3s;
    border-radius: 6px;
}
#header .nav-item.lang .lang-list.show{
    opacity: 1;
}
#header .nav-item.lang .lang-item {
    color: #fff;
    opacity: .2;
}#header .nav-item.lang .lang-item.active{
    opacity: 1;
}
#header .nav-item.lang .lang-item a{
    padding: 6px 14px 2px 13px;
}

#footer{
    position: relative;
    background: #000;
    color: #fff;
}
#footer .footer-cont{
    display: flex;
    justify-content: space-between;
    padding: 58px 0;
}
#footer .footer-info{font-size: 14px;}
#footer .footer-addr{
    font-weight: 400;
    line-height: 1;
}
#footer .copy{
    margin-top: 10px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}
#footer .footer-logo{}
#footer .footer-logo img{
    width: 193px;
}


@media (max-width:1440px){}
@media (max-width:1024px){}
@media (max-width:900px){
    #footer .footer-cont{
        flex-direction: column;
        padding: 36px 0;
    }
    #footer .footer-logo{
        order: 1;
    }
    #footer .footer-logo img{
        width: 154px;
    }
    #footer .footer-info{
        order: 2;
        padding-top: 44px;
    }
}
@media (max-width:750px){
}
