.sc-visual{
    position: relative;
    z-index: 3;
    height: 200vh;
    margin-bottom: -100vh;
}
    .sc-visual .sticky{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.sc-visual .visual-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    object-fit: cover;
    inset: 0%;
}

.sc-visual .img img{
    width: 100%;
    height: 100vh;
    object-fit: cover; 
}
.sc-visual .cont{
    width: 100%;
    height: 100%;
    padding-right: 2rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
}
.sc-visual .visual-text{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    color: #fffae7;
}
.sc-visual .sub-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sc-visual .sub-cont{
    display: flex;
    gap: 0.75rem;
}
.sc-visual .sub-cont .text{
    /* line-height: 140%; */
    font-size: 1vw;
    font-weight: 500;
}
.sc-visual .title-area{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
        font-family: var(--nm-medium);
    font-size: 15em;
    line-height: 1;
    text-transform: uppercase;
}
.sc-visual .overlay{
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(#0000004d, #0000 50%, #00000059);
    inset: 0%;
}

.sc-about{
    overflow: hidden;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--color--background);
}
.sc-about .main-area{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
    align-items: stretch;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
}
.sc-about .main-area .left{
    display: grid;
    grid-column-gap: 1.388vw;
    grid-row-gap: 1.388vw;
    grid-auto-columns: 1fr;
    position: relative;
    cursor: default;
    aspect-ratio: 3 / 2;
    grid-template: "Area-1 . ." / 1fr 1fr 1fr;
}
.sc-about .main-area .left img{
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    border-radius: 10px;
    object-position: 50% 100%;
    inset: 0%;
    object-fit: cover;
}
.sc-about .main-area .left .main-text{
    z-index: 11;
    padding: 16px 20px 0 20px;
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
    line-height: 140%;
    color: #fffae7;
        grid-area: Area-1
}
.sc-about .about-overlay{
    position: absolute;
    background-image: linear-gradient(225deg, #0000004d, var(--transparent) 51%);
    border-radius: 10px;
    inset: 0%;
}
.sc-about .right{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.sc-about .right .map{
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
}
.sc-about .right .map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-story{
    position: relative;
    width: 100%;
    height: 330vh;
}
.sc-story .sticky-head{
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10;
    height: 15vh;
    background-color: var(--default--background);
    font-family: var(--nm-medium);
    backdrop-filter: blur(5px);
    mix-blend-mode: lighten;
    perspective-origin: 50% 100%;
    transform-origin: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sc-story .story-title{
}
.sc-story .story-title .text{
    padding-bottom: 1vw;
    font-size: 4.5vw;
    font-size: 54px;
    font-weight: 500;
    line-height: 110%;
    transform: scale3d(1.5, 1.5, 1);
}

.sc-story .group-text{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    margin-bottom: 85vh;
    padding-top: 60vh;
    color: var(--color--light-yellow);
    text-align: center;
    transform: translateX(-50%);
    z-index: 5;
}
.sc-story .text-area{
    display: flex;
    gap: 30px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.sc-story .text-area .title{
    font-family: var( --nm-medium);
    font-size: 5vw;
    line-height: 1;
}
.sc-story .text-area .sub-desc{
    max-width: 40%;
    font-size: 16px;
    line-height: 1.1;
}
.sc-story .sticky-bg{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    margin-top: -85vh;
}
.sc-story .img{
    width: 100%;
    height: 100%;
}
.sc-story .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-story .dimmed{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.sc-stay{
    position: relative;
    width: 100%;
    height: 100%;
}
.sc-stay .content{
    padding-bottom: 96px;
}
.sc-stay .main-area{
    display: grid;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-template: "Area-left Centered-0-5 Centered-0-5 Area-right" / minmax(0, 1fr) minmax(0, 1fr) 1fr 1fr;
}
.sc-stay .main-area img{}
.sc-stay .main-area .stay-left{
    align-self: start;
}
.sc-stay .main-area .stay-left .left-img{
    border-radius: 10px;
    aspect-ratio: 3/2;
}
.sc-stay .main-area .stay-left .left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-stay .main-area .stay-center{
    grid-area: Centered-0-5;
}
.sc-stay .main-area .stay-center .center-img{
    width: 100%;
    height: 100%;
    cursor: default;
    border-radius: 10px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    aspect-ratio: 24 / 30;
}
.sc-stay .main-area .stay-right{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.sc-stay .main-area .stay-right .sticky{
    position: sticky;
    top: 0;
    bottom: 15px;
    margin-top: 135%;
    margin-bottom: -4px;
}
.sc-stay .main-area .stay-right .stay-desc{
    font-size: 16px;
    line-height: 22px;
}
.sc-stay .gif{
    position: relative;
    top: -2.5vw;
    width: 5vw;
    margin: 0 auto;
}

.sc-enjoy{
    padding-right: 2rem;
    padding-left: 2rem;
}
.sc-enjoy .sticky{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    top: 0;
    height: 12vw;
    margin-bottom: calc(60vh + 4vw);
    text-align: center;
}
.sc-enjoy .head-area .title{
    color: var(--light-green);
    text-align: center;
}

.sc-enjoy .enjoy-card{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: sticky;
    top: 14vw;
    height: 60vh;
    padding-top: 2vw;
    border-top: 1px solid var(--light-green);
    background-color: var(--default--background);
    grid-template-columns: 1fr 2fr 1fr;
}
.sc-enjoy .enjoy-card.card-1{
    margin-top: calc(-60vh - 2vw);
}
.sc-enjoy .enjoy-card .card-title{
    font-family: var(--nm-medium);
    font-size: 35px;
    line-height: 120%;
}

.sc-enjoy .enjoy-card .card-img{
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    width: 45%;
    justify-self: center;
    aspect-ratio: 4 / 5;
    border-radius: 10px;

}
.sc-enjoy .enjoy-card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-enjoy .enjoy-card .card-text{
    font-size: 16px;
    line-height: 140%;
}

.sc-routine{
    position: relative;
}
.sc-routine .content{
    padding-bottom: 0;
}
.sc-routine .top{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
    grid-template: ". . area-3" / 1fr 1fr 1fr 1fr;
}
.sc-routine .top .sm-title{
    z-index: 2;
    margin-bottom: -1vw;
    font-family: var(--nm-base);
    font-size: 18.5333px;
    color: var(--light-green);
    grid-area: area-3;
}
.sc-routine .swiper-wrapper{}
.sc-routine .swiper-slide{
    display: grid;
    grid-column-gap: 20px;
    background: var(--color--light-yellow);
    grid-template-columns: repeat(4, 1fr);
}
.sc-routine .routine-left{
    position: relative;
    padding-right: 3vw;
     grid-column: span 2;
}
.sc-routine .left-img{
    overflow: hidden;
    border-radius: 10px;
}
.sc-routine .routine-left .left-img img{
    width: 100%;
    height: 100%;
    aspect-ratio: 50 / 55;
    object-position: 20% 50%;
    object-fit: cover;
}
.sc-routine .routine-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sc-routine .routine-center .routine-head{
    margin-top: 3.5vw;
}
.sc-routine .routine-center .routine-head .routine-name{
    margin-bottom: 10px;
    font-family: var(--nm-medium);
    font-size: 3.5vw;
    line-height: 100%;
}
.sc-routine .routine-center .routine-head .routine-desc{
    font-size: 18.5333px;
    line-height: 135%;
}
.sc-routine .routine-center .info-list{
    margin-top: auto;
}
.sc-routine .routine-right{
    margin-left: auto;
}
.sc-routine .right-img{
    overflow: hidden;
    width: 18vw;
    height: 20vw;
    border-radius: 10px;
}
.sc-routine .routine-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-routine .swiper-pagination{
    position: absolute !important;
  top: 44% !important;
  right: 0 !important;
  left: auto !important;
  width: auto !important; 
}
.sc-routine .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--light-green);
    opacity: 1; 
}
.sc-routine .swiper-pagination-bullet-active {
    background: var(--very-dark-green);
}
.sc-routine .btn{
    display: flex;
    gap: 1vw;
    position: absolute;
    top: auto;
    right: 32px;
    bottom: 0%;
    left: auto;
    color: var(--light-green);
}
.sc-routine .btn-prev{
    z-index: 10;
    width: 2vw;
}
.sc-routine .btn-prev:hover{
    color: var(--very-dark-green);
}
.sc-routine .btn-next{
    z-index: 10;
    width: 2vw;
}
.sc-routine .btn-next:hover{
    color: var(--very-dark-green);
}
.sc-origin{
    position: relative;
    /* padding-bottom: 100vh; */
}
.sc-origin .cont-origin1{
    position: relative;
}
.sc-origin .cont-origin1 .sticky-wrap{
    height: 300vh;
}
.sc-origin .cont-origin1 .sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}
.sc-origin .cont-origin1 .origin-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--color--light-yellow);
    font-family: var(--nm-medium);
    font-size: 15vw;
    opacity: 1;
    inset: 0% 0% auto;
    backdrop-filter: blur(5px);
    mix-blend-mode: lighten;
}
.sc-origin .cont-origin1 .origin-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: calc(70vw - 32px);
    max-width: 50%;
    margin: 0 auto;
    font-family: var(--nm-base);
    font-size: 16px;
    color: rgb(14, 36, 4);
    text-align: center;
    inset: auto 0% 24px;
}

.sc-origin .cont-origin1 .video{
    align-self: center;
    overflow: hidden;
   position: relative;
    z-index: 1;
    /* filter: blur(5px); */
    width: 100%;
    height: 100vh;
    opacity: 1;
    transform: scale3d(0.32, 0.32, 1);
    object-fit: cover;
    border-radius: 5px;
}
.sc-origin .cont-origin1 .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sc-origin .cont-origin2{}
.sc-origin .cont-origin2 .content{
    padding-bottom: 0;
}
.sc-origin .cont-origin2 .origin-inner{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
    place-items: center stretch;
    margin-top: 4vw;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sc-origin .cont-origin2 .left-item{
    display: flex;
    gap: 32px;
    flex-direction: column; 
    max-width: 45ch;
}
.sc-origin .cont-origin2 .right-item{
    display: flex;
    gap: 32px;
    flex-direction: column;
    max-width: 45ch;
    justify-self: end;
}
.sc-origin .cont-origin2 .item-list{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.sc-origin .cont-origin2 .item-list .item-title{
    font-size: 20px;
    line-height: 1.1;
}
.sc-origin .cont-origin2 .item-list .item-desc{
    font-size: 14px;
    line-height: 1.2;
    color: #000;
}
.sc-origin .cont-origin2 .img{
    grid-area: span 1 / span 2 / span 1 / span 2;
}
.sc-origin .cont-origin2 .img img{
    overflow: hidden;
    max-width: 130px;
    height: 100%;
    margin: 0 auto;
    border-radius: 5px;
    aspect-ratio: 40 / 50;
    object-position: 40% 50%;
    object-fit: cover;
}

.sc-best{
    overflow: hidden;
    position: relative;
    padding-top: 10vw;
}
.sc-best .head-area{
    display: block;
    margin-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;
}
.sc-best .head-area .line-wrap{overflow: hidden;}
.sc-best .word{
    position: relative;
}
.sc-best .swiper.best-slide{
    position: relative;
    z-index: 9;
    margin-top: 4vw;
    margin-bottom: 10vw;
}
.sc-best .swiper-wrapper{
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.sc-best .swiper-wrapper:hover{
    animation-play-state: paused;
}
.sc-best .swiper-slide{
    display: flex;
    position: relative;
    width: max-content;
    height: 100%;
    height: auto;
}

.sc-best .swiper-slide:hover .slide-bottom{
    opacity: 1;
}
.sc-best .swiper-slide .best-inner{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* padding: 1rem; */
    overflow: visible;
    position: relative;
    z-index: 3;
    width: 30em;
    height: 35em;
}
.sc-best .swiper-slide .slide-top{
    display: flex;
    justify-content: space-between;
    z-index: 6;
    padding: 1rem 1rem .75rem;
    color: var(--color--light-yellow);
}
.sc-best .swiper-slide .slide-top .top-title{
    font-size: calc(.4vw + 0.8rem);
    line-height: 120%;
}
.sc-best .swiper-slide .best-inner:hover .slide-top{
    background-color: var(--color--light-yellow);
    color: #000;
    mix-blend-mode: lighten;
}
.sc-best .swiper-slide .slide-top .top-day{
    font-size: calc(.4vw + 0.8rem);
}
.sc-best .swiper-slide .slide-bottom{
    z-index: 6;
    padding: 16px 16px 12px;
    background-color: var(--color--light-yellow);
    opacity: 0;
    transition-duration: .1s;
    transition-timing-function: ease;
}
.sc-best .swiper-slide .slide-bottom .bottom-desc{
    font-size: clamp(0.8rem, .4vw + .625rem, 1rem);
    line-height: 24px;
}
.sc-best .swiper-slide .slide-img{
    overflow: hidden;
    position: absolute;
    border-radius: var(--round-mini);
    filter: none;
    inset: 0% 0;
}
.sc-best .swiper-slide .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-best .best-slide:hover .swiper-slide img {
    filter: blur(8px);
}
.sc-best .best-slide .swiper-slide:hover img {
    filter: blur(0);
}
.sc-best .overlay{
    position: absolute;
    background-image: linear-gradient(#0000004d, #0000 50%, #00000059);
    inset: 0%;
    border-radius: var(--round-mini);
}

.sc-product{
    position: relative;
}
.sc-product .sticky{
    position: sticky;
    z-index: 1;
    margin-left: -1%;
    inset: 0 0% 0%;
} 
.sc-product .img-area{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.sc-product .img-area .img{
    position: absolute;
    border-radius: 1rem;
    inset: 0%;
}
.sc-product .img-area .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-product .img-area .img:nth-child(1){
    z-index: 8;
}
.sc-product .img-area .img:nth-child(2){
    z-index: 6;
}
.sc-product .img-area .img:nth-child(3){
    z-index: 5;
}
.sc-product .img-area .img:nth-child(4){
    z-index: 4;
}
.sc-product .img-area .img:nth-child(5){
    z-index: 3;
}
.sc-product .img-area .img:nth-child(6){
    z-index: 2;
}

.sc-product .text-area{
    position: relative;
    z-index: 111;
    width: 50%;
    height: auto;
    margin-top: -100vh;
}
.sc-product .text-wrap{
    width: 100%;
    height: 100vh;
}
.sc-product .text-wrap .text-inner{
    height: 100%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.sc-product .text-inner [class*="text-item"]{
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;

}
.sc-product .text-inner .text-item1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sc-product .text-inner .title{
    font-family: var(--nm-medium);
    font-size: 6vw;
    line-height: 100%;
    color: var(--color--light-yellow);
    letter-spacing: 0;
}
.sc-product .text-inner .sm-desc{
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 40ch;
    font-size: 17px;
    line-height: 140%;
    color: var(--color--light-yellow);
    letter-spacing: -.01em;
    text-wrap: balance;
}
.sc-product .date-area{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 100;
    color: var(--color--light-yellow);
    opacity: 0;
    inset: 0%;
}
.sc-product .date-area .sticky{
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    height: 100vh;
    inset: 0 2rem auto auto;
}
.sc-product .date-area .text{
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
    line-height: 125%;
    text-align: right;
}

.sc-product .date-area .btn{
    overflow: hidden;
    width: auto;
    height: 44px;
}
.sc-product .date-area [class*="btn-"]{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 0 22px;
    border: 2px solid rgb(255, 250, 231);
    font-size: 17px;
    line-height: 100%;
    transform: translate3d(0px, 0rem, 0px); 
    transition: .3s;
    border-radius: 99px;
}
.sc-product .date-area .btn-first{
    color: var(--default--background);
}
.sc-product .date-area .btn-last{
    background-color: rgb(255, 250, 231);
    color: rgb(14, 36, 4);
}
.sc-product .date-area .btn:hover .btn-first{
    transform: translate3d(0px, -2.75rem, 0px); 
}
.sc-product .date-area .btn:hover .btn-last{ 
    opacity: 1;
    transform: translate3d(0px, -2.75rem, 0px);
}
.sc-shopping{
    height: 100%;
    padding: 2rem 2rem 10vw 2rem;
}
.sc-shopping .sm-title{
    display: flex;
    justify-content: center;
    font-family: var(--nm-base);
    font-size: 18.5px;
}
.sc-shopping .shopping-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30vh;
}
.sc-shopping .shopping-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.sc-shopping .shopping-item .shopping-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: var(--nm-medium);
    font-size: 8vw;
    font-weight: 200;
    line-height: 80%;
    color: rgb(140, 166, 115);
    text-transform: uppercase;
    transition: .3s;
}
.sc-shopping .shopping-list:hover .shopping-title{opacity: 0.3;}
.sc-shopping .shopping-list .shopping-title:hover {color: rgb(244, 147, 32);opacity: 1}

.sc-shopping .shopping-item .dot{
    position: absolute;
    width: 21.32px;
    height: 21.32px;
    background-color: var(--light-green);
    opacity: 0;
    transition: .3s;
    border-radius: 999px;
    inset: auto auto 35% 0%;
}
.sc-shopping .shopping-item:hover .dot{
    opacity: 1;
}
.sc-shopping .shopping-item .shopping-desc{
    position: absolute;right: 0;
    font-size: 18.5px;
    opacity: 0;
    transition: .3s;
}
.sc-shopping .shopping-item:hover .shopping-desc{
    opacity: 1;
}


.sc-quote{
    position: relative;
    height: 280vh;
}
.sc-quote .quote-inner{
    height: 280vh;
    padding: 32px 2rem 32px 2rem;
}
.sc-quote .quote-bg{
    overflow: hidden;
    position: absolute;
    inset: 0%;
}
.sc-quote .quote-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-quote .sticky{
    position: sticky;
    top: 0px;
    height: 100vh;
}
.sc-quote .sticky .cont{
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: 100%;
    color: rgb(255, 250, 231);
}

.sc-quote .quote-mark{
    height: 3vw;
    margin-top: 3vw;
     font-family: var(--nm-medium);
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 200%;
    text-align: left;
    opacity: 0;
    filter: blur(5px);
}
.sc-quote .quote-text{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    line-height: 140%;
}
.sc-quote .quote-text .span .word{
    opacity: 0;
    filter: blur(5px);
}
.sc-quote .quote-text .word{
    display: inline-block;
}
.sc-quote .quote-logo{
        width: 7vw;
    margin-top: auto;
}
.sc-quote .quote-logo .img{
    width: 100%;
}
.sc-quote .quote-social{}


.sc-team{}
.sc-team .content{
    padding-bottom: 0;
}
.sc-team .inner{
    display: grid;
    grid-column-gap: 16px;
    padding: 0;
    grid-template-columns: 1fr 1fr;
}
.sc-team .title{
    font-family: var(--nm-medium);
    font-size: 6vw;
    line-height: 100%;
}
.sc-team .team-list{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}
.sc-team .team-list:hover .team-item img {
    filter: blur(8px);
}
.sc-team .team-list .team-item:hover img {
    filter: blur(0);
}

.sc-team .team-item {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.sc-team .team-wrap{
    display: flex;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 25vw;
    padding-right: 0;
    padding-bottom: .75rem;
    padding-left: 0;
    background-color: #fffae7;
    aspect-ratio: auto;
    border-radius: 0rem 0px 8px 8px;
}
.sc-team .team-wrap .top{
    position: absolute;
    inset: 0%;
}
.sc-team .team-wrap .top img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.sc-team .team-wrap .top .white{
    overflow: hidden;
    position: absolute;
    background-color: var(--default--background);
    mix-blend-mode: lighten;
    inset: calc(.5vw + 2.25rem) 0% 0%;
}
.sc-team .team-wrap .top .black{
    width: 100%;
    height: 100%;
    background-color: #000;
        border-radius: var(--round-mini);
}
.sc-team .team-wrap .name-area{
    display: flex
;
        flex-flow: column;
    align-items: flex-start;
    position: relative;
    inset: auto 0% 0%;
}
.sc-team .team-wrap .name-area .name{
    display: flex;
    grid-column-gap: 2.4vw;
    grid-row-gap: 2.4vw;
    flex: none;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
    z-index: 4;
    width: 102%;
    margin-top: 0;
    padding: .75rem 0 .75rem ;
    background-color: #fffae7;
    background-clip: padding-box;
    font-size: calc(.4vw + 1rem);
    line-height: 100%;
    backdrop-filter: brightness(80%) blur(5px);
    mix-blend-mode: lighten;
}
.sc-team .team-wrap .cate{
    display: flex;
        z-index: 5;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
    line-height: 140%;
    color: #fffae7;
    border-radius: 8px;
}

.sc-team .modal-item{
    display: none;
    position: relative;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
}
.sc-team .modal-item.show{
    display: flex;
}
.sc-team .modal-item .cont-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
    position: relative;
    z-index: 99;
    width: 50%;
    height: 100%;
    max-height: calc(100vh - 32px);
    margin: 0;
    margin-left: auto;
    padding: 0 30px;
    background-color: #fffae7;
    border-radius: 8px;
    perspective-origin: 100% 0;
    transform-origin: 100% 0;
    inset: 1rem 1rem 1rem auto;
}
.sc-team .modal-item .cont-inner{
    display: flex;
    gap: 52px;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 32px 0 30px;
}
.sc-team .modal-item .modal-up{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18vw;
}
.sc-team .modal-item .modal-top{
    position: relative;
}
.sc-team .modal-item .modal-top img{
    width: 100%;
    aspect-ratio: 4 / 5;
    border-radius: 8px;
    object-fit: cover;
}
.sc-team .modal-item .modal-top .modal-name{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 3vw;
    margin-right: 0;
    padding: 0;
    background-color: #fffae7;
    mix-blend-mode: lighten;
    inset: auto 0% 0%;
}
.sc-team .modal-item .modal-top .modal-name .name{
    font-size: 1.75vw;
    font-weight: 500;
    line-height: 120%;
}
.sc-team .modal-item .modal-cate{
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
}
.sc-team .modal-item .modal-bottom{
    display: flex;
    gap: 2vw;
    flex-direction: column;
    font-size: clamp(1rem, .625rem + .4vw, 2rem);
    line-height: 140%;
}
.sc-team .modal-item .btn-close{
    position: absolute;
    top: 0;
    top: 32px;right: 0; right: 32px;
    width: 2.75vw;
    height: 2.75vw;
    color: #8ca673;
    transition: .3s;
}
.sc-team .modal-item .btn-close:hover{
    color: #0e2404;
}
.sc-team .modal-item .bg-dimmed{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000000a8;
    backdrop-filter: blur(5px);
}

.sc-qna{
    overflow: hidden;
    position: relative;
    z-index: 3;
    padding-top: 10vw;
    background-color: var(--color--background);
}
.sc-qna .title{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: var(--nm-medium);
    font-size: 5vw;
    line-height: 100%;
}
.sc-qna .qna-list{
    display: flex;
    width: max-content;
    padding-top: 20px;
    animation: smoothscroll 30s linear infinite;
}
@keyframes smoothscroll {
    to {
    transform: translateX(-50%);
    }
}
.sc-qna .qna-list:hover {
    animation-play-state: paused;
}
.sc-qna .qna-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43vw;
    height: auto;
    min-height: 26vw;
    margin-right: 2vw;
    padding: 0 16px;
    border-width: 2px;
    border-left-style: solid;
    border-color: var(--dark-green-20);
}
.sc-qna .qna-item .text{
    display: -webkit-box;
    overflow: hidden;
    margin-top: -4px;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -.02em;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.sc-qna .qna-item .sm-title{
}
.sc-qna .qna-item .name-area{
    display: flex;
    flex-direction: column;
    font-size: calc(.4vw + .6rem);
    line-height: 100%;
}
.sc-qna .qna-item .name-area .name{
    color: var(--light-green);
}
.sc-qna .qna-item .name-area .from{}
.sc-qna .qna-item .name-area .from .link{
    text-decoration: underline;
}

.sc-notice{
    position: relative;
    z-index: 4;
    background-color: var(--color--background);
}
.sc-notice .inner{
    display: grid;
    grid-column-gap: 16px;
    padding-top: 10vw;
    padding-bottom: 10vw;
    grid-template-columns: 1fr 1fr;
}
.sc-notice .title{
    font-family: var(--nm-medium);
    font-size: 6vw;
    line-height: 100%;
}
.sc-notice .notice-list{}
.sc-notice .notice-item{
    border-bottom: 2px solid var(--dark-green-20);
}
.sc-notice .notice-item:first-child{
    border-top: 2px solid var(--dark-green-20);
}
.sc-notice .notice-item .btn-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.4vw 0 1.3vw;
}
.sc-notice .notice-item .btn-down.on .icon svg{
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.sc-notice .notice-item .btn-down:hover .dot{
    display: block;
}
.sc-notice .notice-item .btn-down:hover .icon{
    color: rgb(16, 34, 4);
}
.sc-notice .notice-item .item-title{
    display: flex;
    gap: 15px;
    align-items: center;
}
.sc-notice .notice-item .item-title .text{
    font-size: calc(.6vw + 1.2rem);
    line-height: 120%;
    color: #222;
    text-align: left;
    letter-spacing: -.02em;
}
.sc-notice .notice-item .item-title .dot{
    display: none;
    width: .75vw;
    height: .75vw;
    background-color: var(--light-green);
    border-radius: 20px;
}
.sc-notice .notice-item .icon{
    width: 2vw;
    height: 2vw;
    color: rgb(140, 166, 115);
}
.sc-notice .notice-item .down{
    display: none;
    padding-bottom: 1.8vw;
}
.sc-notice .notice-item .down.show{
    display: block;
}
.sc-notice .notice-item .down .cont-down{
    display: flex;
    gap: 1vw;
    flex-direction: column;
    width: 60%;
}
.sc-notice .notice-item .down .desc{
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
    line-height: 140%;
}
@media (max-width:1280px) {}
@media (max-width: 991px) {
    
    .sc-about .main-area{
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: minmax(0, 3fr);
    }
    .sc-about .main-area .left{
        grid-auto-columns: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        aspect-ratio: 40 / 35;
        grid-template-areas: "Area-1 .";
    }
    .sc-about .right{
        gap: 40px;
    }
    .sc-about .right .map{
        aspect-ratio: 3 / 2;
    }
    .sc-about .info-list{
        order: -1;
    }
    .sc-story .story-title .text{
        font-size: 54px;
    }
    .sc-story .text-area{
        gap: 24px;
    }
    .sc-story .text-area .title{
        font-size: 54px;
    }
    .sc-story .text-area .sub-desc{
        max-width: 70%;
        font-size: 16px;
        line-height: 130%;
    }
    .sc-stay .main-area .stay-left{
        height: 25vh;
    }
    .sc-stay .main-area .stay-right .sticky{
        margin-top: 100%;
    }
    .sc-stay .main-area .stay-right .stay-desc{
        font-size: 15px;
    }
    .sc-enjoy{
        padding-top: 100px;
    }
    .sc-enjoy .sticky{
        height: 160px;
        margin-bottom: calc(40vh + 40px);
    }
    .sc-enjoy .head-area{
        margin-bottom: 0;
    }
    .sc-enjoy .enjoy-card{
        top: 180px;
        height: 40vh;
        padding-top: 20px;
    }
    .sc-enjoy .enjoy-card.card-1{
        margin-top: calc(-40vh - 2vw);
    }
    .sc-enjoy .enjoy-card .card-img{
        width: 60%;
    }
    .sc-enjoy .enjoy-card .card-title{
        font-size: 26px;
    }
    .sc-routine .top{
        grid-template-columns: 1fr;
        grid-template-areas: "area-3 area-3 area-3";
    }
    .sc-routine .top .sm-title{
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 125%;
        grid-area: area-3;
    }
    .sc-routine .swiper-slide{
        grid-column-gap: 20px;
        grid-row-gap: 32px;
        margin-top: 0;
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }
    .sc-routine .routine-left{
        padding-right: 0;
        grid-column: span 1 / span 1;
    }
    .sc-routine .routine-left .left-img img{
        aspect-ratio: 40 / 34;
        object-position: 0% 50%;
    }
    .sc-routine .routine-center{
        display: grid;
        grid-auto-columns: 1fr;
        order: 99;
        align-items: flex-start;
        margin-top: 0;
        padding-right: 0;
        grid-template-rows: auto;
        grid-template-columns: 3fr;
    }
    .sc-routine .right-img{
        width: 31vw;
        height: 23vw;
    }
    .sc-routine .routine-center .routine-head{
        margin-top: 0;
    }
    .sc-routine .routine-center .routine-head .routine-name{
        margin-bottom: 6px;
        font-size: 40px;
    }
    .sc-routine .routine-center .routine-head .routine-desc{
        margin-bottom: 24px;
    }
    .sc-routine .swiper-pagination{
        display: none;
    }
    .sc-routine .btn{
        top: 0;
        right: 20px;
        bottom: auto; 
        left: auto;
        z-index: 10;
        margin-top: 90px;
    }
    .sc-routine .btn-prev{width: 32px;}
    .sc-routine .btn-next{width: 32px;}
    .sc-origin .cont-origin1 .origin-sub{
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        line-height: 1.3;
    }
    .sc-origin .cont-origin2 .origin-inner{
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        align-items: start;
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
    }
    .sc-origin .cont-origin2 .left-item{
        gap: 24px;
        max-width: 90%;
    }
    .sc-origin .cont-origin2 .right-item{
        gap: 24px;
        max-width: 90%;
        justify-self: start;
    }
    .sc-origin .cont-origin2 .img{
        order: 2;
    }
    .sc-best{
        padding-top: 100px;
    }
    .sc-best .swiper-slide .slide-bottom{
        padding: 14px 12px;
    }
    .sc-best .swiper-slide .slide-bottom .bottom-desc{
        line-height: 16px;
    }
    .sc-shopping{
        padding: 20px 20px 100px;
    }
    .sc-shopping .sm-title{
        font-size: 16px;
        line-height: 140%;
    }
    .sc-shopping .shopping-item .dot{
        display: none;
    }
    .sc-shopping .shopping-list{
        gap: 12px;
        margin-top: 50vh;
    }
    .sc-shopping .shopping-item{
        gap: 12px;
        flex-direction: column;
    }
    .sc-shopping .shopping-item .shopping-title{
        font-size: 10vw;
    }
    .sc-shopping .shopping-item .shopping-desc{
        position: static;
        font-size: 16px;
        line-height: 100%;
        opacity: 1;
    }
    .sc-quote{
        height: 150vh;
    }
    .sc-quote .quote-inner{
        height: 150vh;
    }
    .sc-quote .quote-text{
        font-size: 22px;
    }
    .sc-team .inner{
        grid-row-gap: 16px;
        grid-template-columns: 1fr;
    }
    .sc-team .title{
        font-size: 54px;
    }
    .sc-team .team-wrap{
        height: 45vw;
    }
    .sc-team .team-wrap .cate{
        padding-right: 12px;
        padding-left: 12px;
    }
    .sc-team .modal-item .cont-wrap{
        width: 80%;
        padding: 0 20px;
    }
    .sc-team .modal-item .cont-inner {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .sc-team .modal-item .modal-up{
        width: 32vw;
    }
    .sc-team .modal-item .modal-top .modal-name{
        height: 40px;
    }
    .sc-team .modal-item .modal-top .modal-name .name{
        font-size: 26px;
    }
    .sc-team .modal-item .modal-cate{
        font-size: 16px;
        line-height: 140%;
    }
    .sc-team .modal-item .btn-close{
        top: 20px;
        right: 20px;
        width: 44px;
        height: 44px;
        margin-top: -10px;
        margin-right: -10px;
    }
    .sc-qna{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sc-qna .title{
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    .sc-qna .qna-list{
        padding-top: 0;
    }
    .sc-qna .qna-item{
        width: 75vw;
        min-height: 48vh; 
        padding-right: 20px;
        padding-left: 10px;
    }
    .sc-qna .qna-item .name-area{
        gap: 8px;
        font-size: 16px;
    }
    .sc-notice .inner{
        padding: 100px 20px;
    }
    .sc-notice .notice-item .item-title .text{
        font-size: 21px;
    }
    .sc-notice .notice-item .down{
        padding-bottom: 20px;
    }
    .sc-notice .notice-item .down .cont-down{
        width: 100%;
    }
    .sc-notice .notice-item .btn-down{
        padding: 20px 0;
    }
    .sc-notice .notice-item .icon{
        width: 24px;
        height: 24px;
    }
    .sc-notice .notice-item .btn-down:hover .dot{
        display: none;
    }
}
@media (max-width: 767px) {
    .element:hover {
        all: unset; 
    }
    .sc-about .main-area{
        gap: 32px;
    }
    .sc-about .main-area .left{
        grid-template-areas: "Area-1 Area-1 Area-1";
    }
    .sc-about .main-area .left .main-text{
        padding: 16px 10px 0;
    }
    .sc-about .right {
        gap: 32px;
    }
    .sc-story .story-title .text{
        font-size: 9vw;
    }
    .sc-story .text-area{
        gap: 20px;
    }
    .sc-story .text-area .title{
        font-size: 50px;
    }
    .sc-stay .main-area{
        gap: 10px;
        grid-template-rows: auto auto;
        grid-template-areas:
        "Area-left Area-left Centered-0-5 Centered-0-5"
        ". . Area-right Area-right";
    }
    .sc-stay .main-area .stay-left{
        grid-area: Area-left;
    }
    .sc-stay .main-area .stay-center{
        grid-area: Centered-0-5;
    }
    .sc-stay .main-area .stay-right{
        grid-area: Area-right;
    }
    .sc-stay .main-area .stay-right .stay-desc{
        line-height: 1.4;
    }
    .sc-stay .main-area .stay-right .sticky{
        position: static;
        margin-top: 0%;
    }
    .sc-enjoy{
        padding-right: 10px;
        padding-left: 10px;
    }
    .sc-enjoy .enjoy-card{
        gap: 10px;
    }
    .sc-enjoy .enjoy-card .card-title{
        font-size: 20px;
    }
    .sc-enjoy .enjoy-card .card-text{
        font-size: 15px;
        line-height: 120%;
    }
    .sc-routine .swiper-slide{
        grid-column-gap: 10px;
        grid-row-gap: 22px;
        grid-auto-columns: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    .sc-routine .routine-center .routine-head .routine-desc{
        margin-bottom: 16px;
        font-size: 16px;
    }
    .sc-routine .routine-center{
        order: -9999;
        grid-area: span 1 / span 2 / span 1 / span 2;
    }
    .sc-routine .left-img{
        height: 100%;
    }
    .sc-routine .right-img{
        width: 100%;
        height: 100%;
    }
    .sc-origin .cont-origin1 .origin-sub{
        bottom: 8px;
        padding: 0 36px;
        font-size: 12px;

    }
    .sc-origin .cont-origin2 .item-list{
        gap: 12px;
    }
    .sc-origin .cont-origin2 .item-list .item-title{
        font-size: 18px;
    }
    .sc-origin .cont-origin2 .item-list .item-desc{
        font-size: 12px;
    }
    .sc-best .swiper.best-slide{
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .sc-best .swiper-slide .best-inner{
                width: 66vw;
                height: auto;
        aspect-ratio: 3 / 4;
    }
    .sc-best .swiper-slide .slide-top{
        gap: 4px;
        flex-direction: column;
    }
    .sc-best .swiper-slide .slide-top .top-title{
        font-size: 3vw;
    }
    .sc-best .swiper-slide .slide-bottom{
        background-color: transparent;
        color: #fffae7;
        opacity: 1;
    }
    .sc-shopping{
        padding: 20px 10px 100px;
    }
    .sc-qna .title{
        font-size: 9vw;
    }
    .sc-notice .inner{
        padding: 100px 10px;
    }
    .sc-team .team-list{
        gap: 10px;
    }
    .sc-team .team-wrap{
        height: 50vw;
    }
    .sc-team .modal-item .cont-wrap{
        width: 90%;
    }
    .sc-team .modal-item .modal-top .modal-name{
        height: 30px;
    }
    .sc-team .modal-item .modal-top .modal-name .name{
        font-size: 21px;
    }
}

@media (max-width: 479px){
    .sc-about .main-area .left{
        aspect-ratio: 5/8;
    }
    .sc-story .story-title{
        height: 10vh;
    }
    .sc-story .story-title .text{
        font-size: 10em;
    }
    .sc-story .text-area .title{
        font-size: 32px;
    }
    .sc-story .text-area .sub-desc{
        max-width: 100%;
        font-size: 12px;
    }
    .sc-story .text-area{
        gap: 16px;
    }
    .sc-stay .content{
        padding-bottom: 0;
    }
    .sc-stay .main-area{
        grid-auto-columns: minmax(0, 1fr);
        grid-template:
        "Area-left Area-left Area-left Area-left"
        "Centered-0-5 Centered-0-5 Centered-0-5 Centered-0-5"
        "Area-right Area-right Area-right Area-right" / minmax(0, 1fr);
    }
    .sc-stay .main-area .stay-left{
        height: auto;
    }
    .sc-stay .main-area .stay-center{
        margin-bottom: 62px;
    }
    .sc-enjoy .head-area .title{
        font-size: 10em;
    }
    .sc-enjoy .enjoy-card{
        display: flex;
        gap: 10px;
        flex-direction: column;
        height: 65vh;
        padding-top: 14px;
    }
    .sc-enjoy .enjoy-card .card-img{
        width: 100%;
        height: 30vh;
        margin-bottom: 5px;
        aspect-ratio: auto;
    }
    .sc-enjoy .enjoy-card .card-text{
        font-size: 12px;
    }
    .sc-routine .content{
        padding-top: 0;
    }
    .sc-routine .top .sm-title{
        font-size: 17px;
        line-height: 140%;
    }
    .sc-routine .btn{
        margin-top: 0;
    }
    .sc-routine .btn-prev{       
        width: 8.3vw;
        height: 9vw;
    }
    .sc-routine .btn-next{        
        width: 8.3vw;
        height: 9vw;
    }
    .sc-routine .info-list{
        gap: 6px;
    }
    .sc-routine .routine-left{
        grid-column: 1 / -1;
    }
    .sc-routine .routine-left .left-img img{
        aspect-ratio: 4/3;
    }
    .sc-routine .routine-right{
        display: none;
    }
    .sc-origin .cont-origin2 .origin-inner{
        grid-row-gap: 24px;
        grid-template-columns: 1fr;
    }
    .sc-origin .cont-origin2 .left-item{
        grid-area: span 1 / span 1 / span 1 / span 1;
    }
    .sc-origin .cont-origin2 .img{
        grid-column: span 1 / span 1;
    }
    .sc-origin .cont-origin2 .item-list .item-desc{
        padding-right: 16px;
    }
    .sc-best .swiper-slide .best-inner{
        width: 85vw;
    }
    .sc-best .swiper-slide .slide-top{
        gap: 8px;
    }
    .sc-best .swiper-slide .slide-top .top-title{
        font-size: 17px;
    }
    .sc-best .swiper-slide .slide-bottom .bottom-desc{
        font-size: 14px;
        line-height: 1.2;
    }
    .sc-product .text-wrap .text-inner{
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .sc-product .text-inner .title{
        font-size: 8vw;
    }
    .sc-product .date-area .sticky{
        justify-content: flex-end;
        padding-bottom: 10px;
        gap: 6px;
        inset: 0 1rem auto auto;
    }
    .sc-product .text-wrap.none {
        display: none;
    }
    .sc-product .text-inner [class*="text-item"]{
        padding-top: 40vh;
    }
    .sc-shopping{
        padding: 10px 10px 80px;
    }
    .sc-shopping .shopping-list{
        gap: 8px;
    }
    .sc-shopping .shopping-item{
        gap: 6px;
        padding-bottom: 0;
    }
    .sc-shopping .shopping-item .shopping-desc{
    font-size: 12px;
    }
    .sc-quote{
        height: auto;
    }
    .sc-quote .quote-inner{
        height: auto;
    }
    .sc-quote .quote-mark {
        font-size: 4.5vw;
    }
    .sc-quote .quote-text{
        font-size: 18px;
    }
    .sc-team .team-list{
        overflow: scroll;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .sc-team .team-item{
        width: 80vw;
        height: 110vw;
    }
    .sc-team .team-wrap{
        width: 80vw;
        height: 110vw;
    }
    .sc-team .team-list:hover .team-item img {
        filter: blur(0);
    }
    .sc-team .modal-item .modal-up{
        width: 100%;
        padding-right: 50%;
    }
    .sc-team .modal-item .cont-inner{
        padding-top: 10px;
    }
    .sc-team .modal-item .cont-wrap{
        padding: 0 10px;
    }
    .sc-team .modal-item .modal-top .modal-name .name{
        font-size: 16px;
    }
    .sc-qna{
        padding-top: 80px;
        padding-bottom: 0;
    }
    .sc-qna .title{
        margin-bottom: 32px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 54px;
    }
    .sc-qna .qna-item{
        min-height: 50vh;
        padding-right: 10px;
    }
    .sc-qna .qna-item .text{
        font-size: 16px;
    }
    .sc-qna .qna-item .name-area{
        font-size: 12px;
    }
    .sc-notice .title{
        margin-bottom: 32px;
        font-size: 14em;
    }
    .sc-notice .inner{
        gap: 0;
        padding: 80px 10px;
        grid-template-columns: minmax(0, 1fr);
    }
    .sc-notice .notice-item .btn-down{
        padding: 14px 0;
    }
    .sc-notice .notice-item .item-title .text{
        font-size: 17px;
    }
    .sc-notice .notice-item .icon{
        width: 19px;
        height: 19px;
    }
    .sc-notice .notice-item .down .desc{
        font-size: 12px;
    }
}


