:root{
    --very-dark-green: #0e2404;
    --default--background: var(--color--light-yellow);
    --round-mini: .5rem;
    --light-green: #8ca673;
    --dark-green-50: #1b530066;
    --yellow-30: #ffc7004d;
    --brand-orange: #f49320;
    --dark-green: #1b5300;
    --color--yellow: #ffc700;
    --accessible-components--dark-grey: #9b9b9b;
    --dark-green-20: #1b530033;
    --color--background: var(--default--background);
    --transparent: #0000;
    --color--light-yellow: #fffae7;
    --oct-24-yellow: #fffae7;
    --black: black;
    --white: white;
    --dark-grey: #333;
    --light-grey: #999;
    --color: white;
    --yellow-new: #c59a03;
    --section-header-bottom: 3.5rem;
    --nm-medium: "PP Pangaia";
    --nm-base: "PP Neue Montreal";
    --grid-gap: 1.377vw;
    --section-padding-default: 2.77vw;
    --padding-global: 32px;
    --dark-blue: #0e2349;
    --dark-orange: #d97800;
    --yellow--background: var(--color--yellow);
}

*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block; max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}

@font-face {
    font-family: 'PP Pangaia';
    src: url('../font/PPPangaia-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Pangaia';
    src:url('../font/PPPangaia-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangaia';
    src: url('../font/PPPangaia-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Pangaia';
    src: url('../font/PPPangaia-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PP Pangaia';
    src: url('../font/PPPangaia-Ultralight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Pangaia';
    src: url('../font/PPPangaia-UltralightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../font/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../font/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../font/PPNeueMontreal-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

body{
    font-family: 'Pretendard',"PP Neue Montreal","PP Pangaia", Tahoma, sans-serif, "Noto Sans", sans-serif;
    background-color: var(--color--background);
    color: var(--very-dark-green);
    font-size: 1vw;
    font-weight: 500;
    line-height: 140%;
}