@import './common.css';
@import './reset.css';

#wrap{}

#header{
    display: flex;
    position: static;
    width: 100%;
    max-width: 1920px;
    height: 64px;
    padding: 0 104px 0 98px;
}
#header .logo{
    display: flex;
    align-items: center;
}
#header .logo a{
    display: block;
    width: 223px;
    height: 35px;
    background-position: -105px 0px;
}
#header .nav-left{
    display: flex;
    align-items: stretch;
    margin-left: 29px;
}
#header .nav-left .nav-list{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#header .nav-left .nav-item{
    display: flex;
    align-items: center;
}
#header .nav-left .nav-item a{
    display: block;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.36px;
}

#header .nav-item a:hover{
    text-decoration: underline;
}
#header .nav-left .nav-item.first{
    position: relative;
}
#header .nav-left .nav-item .menu-area{
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 100;
}
#header .nav-left .nav-item .menu-area.on{
    display: block;
}
.header.on::before{
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 182px;
    background-color: rgba(255, 255, 255, 0.98);
    content:'';
}
#header .nav-left .nav-item .menu-item{
    display: block;
}
#header .nav-left .nav-item .menu-item a{
    display: block;
    padding: 3px 13px;
    white-space: nowrap;
}

#header .nav-right{
    display: flex;
    margin-left: auto;
    font-size: 0;
}
#header .nav-right .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header .nav-right .nav-item{
    display: flex;
    align-items: center;
}
#header .nav-right .nav-item a{
    display: block;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.36px;
}
#header .nav-right .nav-item.lang{
    position: relative;
}
#header .nav-right .nav-item .lang-icon{
    display: inline-block;
    width: 10px;
    height: 6px;
    margin: 13px 0 0 3px;
    background-position: -122px -93px;
    vertical-align: top;
}
#header .nav-right .nav-item.lang .lang-icon.on{
    transform: rotate(180deg);
}
#header .nav-right .nav-item .lang-list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#header .nav-right .nav-item .lang-list.on{
    display: block;
}
#header .last-box{
    display: flex;
    display: none;
    align-items: center;
}
#header .last{
    width: 20px;
    height: 14px;
    background-position: -85px -28px; 
        
}
#header .last.on{
    width: 15px;
    height: 15px;
    background-position: -85px -49px;
}

#header .side-nav{
    display: none;
}

#header .side-nav .side-list{
    position: relative;
    padding: 11px 0 9px;
}
#header .side-nav .side-list+.side-list::before{
    position: absolute;
    top: 0;
    right: 22px;
    left: 22px;
    height: 1px;
    background-color: #d0d0d0;
    content: "";
}

#header .side-nav .side-item.first .down{
    display: inline-block;
    width: 10px;
    height: 6px;
    margin: 20px 0 0 4px;
    background-position: -136px -49px;
    vertical-align: top;
}

#header .side-nav .side-item.first.on .down{
    transform: rotate(180deg);
}
#header .side-nav .side-item a{
    display: block;
    padding: 0 22px;
    font-size: 22px;
    line-height: 46px;
    letter-spacing: -0.44px;
}
#header .side-nav .sub-list{
    display: none;
    padding: 3px 22px 15px;
}
#header .side-nav .sub-list.on{
    display: block;
}
#header .side-nav .sub-item{
    margin-top: 13px;
}
#header .side-nav .sub-item a{
    padding-left: 20px;
    background-color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: -0.36px;
}
#header .side-nav .side-list.lang {
    position: relative;
        padding-top: 19px;
}
#header .side-nav .side-list.lang a{
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.36px;
}
#header .side-nav .side-list.lang .text::before{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 8px 10px 0 0;
    border: 1px solid #d0d0d0;
    content: "";
    vertical-align: top;
    border-radius: 50%;
    box-sizing: initial;
}
#header .side-nav .side-list.lang .text.active::before{
    border: 1px solid #fff;
    background-color: #000;
}
#header .side-nav .side-list.lang .side-item{}



#footer{
    background-color: #f2f2f2;
}
#footer .footer-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: static;
    max-width: 1920px;
    margin: 0 auto;
    padding: 25px 104px 25px 98px;
}
#footer .group-logo{
    display: flex !important;
    align-items: center;
}
#footer .logo{
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.32px;
}
#footer .policy{
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #909090;
    letter-spacing: -0.28px;
}
#footer .site-list{
    display: block;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 5px 0 0;
}
#footer .site-item{
    position: relative;
    margin-right: 20px;
}
#footer .site-item:not(:last-child)::before{
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    width: 1px;
    height: 12px;
    background: #909090;
    transform: translateY(-50%);
    content: '';
}
#footer .site-item a{
    font-size: 14px;
    line-height: 22px;
    color: #909090;
    letter-spacing: -0.28px;
}
#footer .footer-link{
    position: relative;
    margin-left: auto;
}
#footer .footer-link .btn-link{
    position: relative;
    width: 280px;
    /* background-color: #f2f2f2; */
    outline: none;
    line-height: 42px;
    text-align: left;
}
#footer .footer-link .btn-link.active{
    padding: 0 12px;
    background-color: #fff;
}
#footer .footer-link .btn-link::before{
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 100;
    width: 10px;
    height: 6px;
    background-position: -122px -93px;
    content: "";
}
#footer .footer-link .btn-link.active::before{
    transform: rotate(180deg);
}
#footer .footer-link .btn-link::after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #000;
    content: "";
}
#footer .footer-link .link-list{
    display: none;
    position: absolute;
    right: 0;
    bottom: 42px;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}
#footer .footer-link .link-list.on{
    display: block;
}
#footer .footer-link .link-item{
    padding: 0 12px;
    font-size: 18px;
    line-height: 42px;
}
#footer .footer-link .link-item:hover{
    background-color: #f2f2f2;
}
#footer .footer-link .link-item a{}


@media (max-width:1280px) {
    #header{
        padding: 0 22px;
    }

    #footer .footer-inner{
        padding: 25px 104px 25px 98px;
    }
}


@media (max-width:1024px) {
    #header{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 60px;
        background: #fff;
    }
    #header .logo{
        width: 160px;
        height: 60px;
    }
    #header .logo a{
        display: block;
        width: 160px;
        height: 23px;
        background-image: url(../images/sp-bg2.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size:195px 181px;
    }
    #header .nav-left{display: none;}
    #header .nav-right .nav-item{display: none;}
    #header .last-box{
        display: block;
        display: flex;
        align-items: center;
    }
    #header .side-nav{
        display: block;
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 2000;
        width: 100%;
        height: calc(100% - 60px);
        background: #fff;
        transform: translateX(100%);
        transition: 0.4s;
    }

    #header .side-nav.show{
        transform: translateX(0);
    }
    #footer .footer-link{flex-basis: 100%;margin-left: 0;}
    #footer .footer-link .btn-link{width: 100%;}
    #footer .site-list{flex-wrap: wrap;}
    
}

@media (max-width:767px) {
    #footer{
        padding: 25px 0 29px;
    }
    #footer .logo{
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.3px;
    }
    #footer .footer-inner{
        display: block;
        height: 158px;
        padding: 0 22px;
    }

    #footer .site-list{
        margin-top: 15px;
    }
    #footer .footer-link .btn-link{
        width: 100%;
        margin-top: 15px;
        font-size: 12px;
        color: #1d1d1d;
    }
    #footer .footer-link .btn-link::after{
        background-color: #b4b4b4;
    }
    #footer .footer-link .link-item{
        font-size: 12px;
        color: #1d1d1d;
    }
    #footer .footer-link .btn-link::before{
        right: 10px;
    }
}





