.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
}
.inner{
    position: relative;
    max-width: 1408px;
    /* min-width: 1230px; */
    margin: 0 auto;
    padding: 0 104px;
}
.scroll-hide{
    overflow: hidden;
}
.sc-search .group-mobile .filter-list .down,
#footer .footer-link .btn-link::before,
.sc-support .link-support .link-go,
.sc-benefits .group-control .btn.next,
.sc-benefits .group-control .btn.prev,
.sc-interview .group-control .btn.prev,
.sc-interview .group-control .btn.next,
.sc-search .search-icon,
.sc-search .search-item .count::after,
#header .nav-right .nav-item .lang-icon,
#header .logo a{
    background-image: url(../images/sp-bg.png);
    background-repeat: no-repeat;
    background-size: 328px 205px;
}

.sc-search .btn-close,
#header .side-nav .side-item .down,
.sc-search .search-box .icon,
#header .nav-right .last{
    background-image: url(../images/sp-bg2.png);
    background-repeat: no-repeat;
    background-size:195px 181px;
}

@media (max-width:1280px) {
    .inner{
        padding: 0 60px;
    }
}

@media (max-width:1024px) {
    .inner{
        padding: 0 22px;
    }
}

