.blind{
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0,);
    overflow: hidden;
}
.inner{
    position: relative;
    padding: 0 100px;
    min-height: inherit;
}
.title{
    font-size: 72px;
    line-height: 1.28;
    font-weight: 600;
}
.hide{
    opacity: 0 !important;
}

.card-list{
    display: flex;
}
.card-item{
    position: relative;
    width: 400px;
    height: 540px;
    margin-right: 40px;
    flex-shrink: 0;
    border: 2px solid #fff;
    border-radius: 20px;
    background: #000;
}
.card-item .card-inner{
    display: flex;
    flex-direction: column;
    padding: 34px;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-head{
    position: relative;
    min-height: 110px;
}
.card-head .card-title{
    font-size: 50px;
    font-weight: 600;
    margin-right: 46px;
    word-break: break-word;
    line-height: 1;
}
.card-head .caption{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 30px;
    line-height: .67;
    text-align: right;
}

.card-item.line{
    border: 2px solid transparent;
    background-image: linear-gradient(#000, #000), linear-gradient(300deg, #e657af, #0049ff, #43cf2e);
    background-clip: content-box, border-box;
    background-origin: border-box;
}
.card-item.line .text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
.card-item.line .text-area .text{
    background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
    background-clip: text;
    background-size: cover;
    -webkit-text-fill-color: transparent;
}

.card-item.blur{
    overflow: hidden;
    border: none;
}
.card-item.blur .card-inner::before{
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-blend-mode: multiply !important;
    background-color: hsla(0, 0%, 42%, .3) !important;
}
.card-item.blur .blur-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
    filter: blur(30px);
}


.info-area{
    position: absolute;
    left: 34px;
    right: 34px;
    bottom: 34px;
    margin-top: auto;
    padding-right: 40px;
} 
.info-area .info-name{
    font-size: 24px;
    line-height: 1.67;
    font-weight: 700;
}

.info-area .profile-wrap{
    display: flex;
    align-items: center;
}

.info-area .info-icon{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    object-fit: cover;
}
.info-area .profile-bg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.info-area .profile-name{
    margin-left: 9px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.63;
}


@media (max-width:1440px){
    .title{
        font-size: 54px;
        line-height: 1.33;
    }
    .inner{
       padding: 0 72px;
    }
    .card-item{
        width: 303px;
        height: 408px;
        margin-right: 24px;
    }
    .card-item .card-inner{
        padding: 24px;
    }
    .card-head{
        min-height: 72px;
    }
    .card-head .card-title{
        font-size: 36px;
    }
    .info-area{
        left: 24px;
        right: 24px;
        bottom: 24px;
    }
    .info-area .info-name{
        font-size: 18px;
        line-height: 1.89;
    }
    .info-area .profile-name{
        font-size: 14px;
    }
}
@media (max-width:1024px){
    .inner{
       padding: 0 60px;
    }
    .title{
        font-size: 40px;
        line-height: 1.35;
    }
}
@media (max-width:900px){
}
@media (max-width:750px){
    .inner{
       padding: 0 24px;
    }
}