@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import './reset.css';
@import './common.css';

#wrap{
    min-width: 1200px;
}
#header{}
.header-info{
    background: #EDF1F5;
}
.header-msg{
    display: flex;
    gap: 5px;
    width: 1152px;
    padding: 6px 0;
    margin: 0 auto;
    color: #1D1D1D;
    font-size: 13px;
    
}
.header-msg::before{
    display: block;
    width: 24px;
    height: 16px;
    background-image: url(../images/download.svg);
    background-size: 28px 20px;
    background-position: center;
    content: '';

}
.group-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-weight: 700;
}
.group-top .logo-area{
    display: flex;
}
.group-top .logo{margin-top: 8px;}
.group-top .logo a{
    width: 105px;
    height: 27px;
}
.group-top .logo a::before{
    content: '';
    display: block;
    width: 105px;
    height: 27px;
    background-position: -5px -165px;
}
.group-top .nav-list{
    display: flex;
    padding-left: 40px;
    margin-left: 30px;
    
}
.group-top .nav-item{}
.group-top .nav-item a{
    margin-left: 20px;
    font-size: 16px;
    line-height: 48px;
}
.group-top .util-area{}
.group-top .mypage-list{
    display: flex;
    font-size: 14px;
}
.group-top .mypage-item{
    display: flex;
    align-items: center;
    line-height: 48px;
    padding: 0 10px;
}
.group-top .mypage-item a{}
.group-top .mypage-item .pop-desc{
}
.group-top .mypage-item .icon-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 2px;
}
.group-top .mypage-item .icon-info::after{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    background-image: url(../images/ico-info-set.png);
    background-size: 28px 14px;
    background-position: 0 0;
}
.mypage-item{
    display: flex;
}
.pop-desc{position: relative;
}
.pop-info{
    position: absolute;
    width: 320px;
    top: 34px;
    right: -14px;
    background: #fff;
    border: 2px solid #0c82e9;
    padding: 15px 5px 15px 20px;
    border-radius: 15px;
    color: #636363;
    font-size: 12px;
    z-index: 2;
    display: none;
    box-shadow: 2px 2px 5px rgba(0,0,0, .15);
    letter-spacing: 0;
    line-height: 1.6;
}
.pop-info p{    
    color: #222;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;}

.pop-info u{
    color: #0c82e9;
    text-underline-offset: 4px;
}
.pop-desc:hover .pop-info{
    display: block;
}
.group-bottom{
    display: flex;
    gap: 22px;
}
.group-bottom .left-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 770px;
}
.group-bottom .slogan{
    margin: 38px 0 30px;
}
.group-bottom .search-wrap{}
.group-bottom .search-box{
    width: 520px;
    height: 42px;
    border: 3px solid #0ea888;
}
.group-bottom .search-box fieldset{
    display: flex;
    align-items: center;
    height: 38px;
}
.group-bottom .search-box .input-text{
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}
.group-bottom .search-box .btn-keyboard{}
.group-bottom .search-box .btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.group-bottom .right-area{
    display: flex;
    position: relative;
    width: 364px;
}

.group-bottom .lang-wrap{  
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
.group-bottom .lang-wrap select {
    width: 80px;
    height: 21px;
    border-color: #afcfea;
    color: #1E6CB3;
    font-size: 12px;
}
.group-bottom .lang-wrap .btn-go{
    width: 30px;
    height: 21px;
    font-size: 11px;
    color: #fff;
    background-color: #1E6CB3;
}
.group-bottom .flex{
    display: flex;
    gap: 15px;
}
.group-bottom .weather-wrap{
}
.group-bottom .weather-bg{
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
}
.group-bottom .weather-bg.hide{
    display: none;
}
.group-bottom .weather-bg a{
    position: relative;
}
.group-bottom .weather-bg img{}
.group-bottom .weather-bg .weather-close{
    position: absolute;
    top: 5px;
    right: 1px;
    width: 22px;
    height: 22px;
}
.group-bottom .weather-bg .weather-close::before{

}
.group-bottom .weather-info{
    display: flex;
    position: absolute;
    bottom: 35px;
    left: 0;
    z-index: -1;
}
.group-bottom .weather-info .weather-icon{
    width: 58px;
    height: 47px;
}
.group-bottom .weather-info .weather-icon img{}
.group-bottom .weather-info .curr{
    display: flex;
    flex-direction: column;
    width: 166px;
    height: 48px;
    margin-left: 10px;
}
.group-bottom .weather-info .curr .temp{
    font-size: 25px;
    margin-right: 5px;
}
.group-bottom .weather-info .curr .status{
    font-size: 16px;
    letter-spacing: -0.1em;
}
.group-bottom .weather-info .air{
    margin-top: 7px;
    font-size: 13px;
    letter-spacing: -1.5px;
}
.group-bottom .weather-info .air .point{color: #0D6EFD;}
.group-bottom .brand-wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.group-bottom .brand-wrap a{}

#footer{}
#footer .group-link{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
#footer .link-list{
    display: flex;
}
#footer .link-item{
    font-size: 12px;
}
#footer .link-item+.link-item::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    margin: 0 10px;
    vertical-align: -1px;
}
#footer .link-item a{}
#footer .link-kc{
    width: 114px;
    height: 24px;
    margin-left: 10px;
}
#footer .link-item.kc a{}
#footer .link-item.kc::after{
    content: '';
    display: inline-block;
    width: 114px;
    height: 24px;
    background-position: 0 -30px;
    background-image: url(../images/link-kc.png);
    background-size: 295px 60px;
}

#footer .group-addr{
    display: flex;
    align-items: center;
    padding: 22px 0;
    height: 106px;
}
#footer .group-addr .inquiry{
    margin-right: 40px;
}
#footer .group-addr .inquiry img{
    width: 108px;
    height: 45px;
}
#footer .group-addr .addr{
    flex: 1;
    color: #636363;
}
#footer .group-addr .addr-info{
    padding-bottom: 2px;
    font-size: 12px;
}
#footer .group-addr .tel-area{
    display: flex;
    gap: 5px;
    font-size: 12px;
}
#footer .group-addr .addr-tel .btn-tel{}
#footer .group-addr .addr-tel .btn-tel::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: 0 0;
    background-image: url(../images/addr-tel.png);
    background-size: 14px 14px;
}
#footer .group-addr .addr-tel .talk{}
#footer .group-addr .addr-email{font-size: 11px;}
#footer .group-addr .mark{}
#footer .group-addr .mark a{}

.btn-top{
    position: fixed;
    bottom: 98px;
    left: 50%;
    transform: translate(-50%, 100vh);
    opacity: 1;
    margin-left: 600px;
    transition: 1s;
}
.btn-top.on{
    transform: translateY(0);
}
.btn-top img{}