.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0,);
}
.scroll-hide{
    overflow: hidden;
}
.sticky{
    overflow: visible;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}
.inner{
    padding-right: 5vh;
    padding-left: 5vh;
}
.content{
    max-width: 1920px;
    padding-right: 64px;
    padding-left: 64px;
}
.sm-content{
    max-width: 1280px;
    padding-right: 32px;
    padding-left: 32px;
}

.btn-link{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 8px 8px 24px;
    background-color: #e95644;
    border-radius: 99px;
}
.btn-link .text{
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    color: #fff;
    letter-spacing: -.02em;
}
.btn-link:hover .dot{
    width: 32px;
    height: 32px;
}
.contect:hover .dot{
    width: 32px;
    height: 32px;
}
.icon-go{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.icon-go img{
    position: absolute;
    transform: translate3d(-24px, 24px, 0);
}
.icon-go .dot{
    width: 8px;
    height: 8px;
    background: #fff;
    transition: .4s;
    border-radius: 16px;
}
.icon-go .dot.dark{
    background-color: #171c36;
}


@media (min-width:1920px){
    .content{
        /* max-width: 2850px; */
        margin: 0 auto;
        padding-right: 5vh;
        padding-left: 5vh;
    }
    .sm-content{
        max-width: 1554px;
        padding-right: 32px;
        padding-left: 32px;
    }

}

@media (max-width:991px){
    .content{
        display: flex;
        padding-right: 32px;
        padding-left: 32px;
    }
}
@media (max-width:767px){
    .btn-link .text{
        font-size: 14px;
        letter-spacing: .02ch;
    }
}
@media (max-width:479px){
    .content{
        padding-right: 16px;
        padding-left: 16px;
    }
    .sm-content{
        padding-right: 16px;
        padding-left: 16px;
    }

}

