@import './common.css';
@import './reset.css';
#wrap{}

#header {
    position: fixed;
    z-index: 50;
    max-width: 100vw;
    height: 116px;
    inset: 0% 0% auto;
} 
.header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0e1120;
}
#header .content{
    max-width: 2850px;
    margin: 0 auto;
    position: relative;
}
#header .header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    padding-top: 42px;
    padding-bottom: 42px;
    color: #fff;
}
#header .header-wrap.show::before{
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #0e1120;
    content: '';
}
#header.active{
    background-color: rgb(206, 218, 228);
}
#header.active .logo{
    color: #e95644;
}
#header.active .group-nav{
    color: #171c36;
}
#header.active .btn-menu{
    color: #0e1120;
}
#header.active .btn-menu .dot{
    background-color: #0e1120;
}
#header.hide .logo{
    color: #e95644;
}
#header.hide .group-nav{
    color: #171c36;
}
#header.hide .btn-menu{
    color: #0e1120;
}
#header.hide .btn-menu .dot{
    background-color: #0e1120;
}
#header.footer .logo{
    color: #e95644;
}
#header .logo{
    z-index: 10;
    height: 20px;
}
#header .logo a{}
#header .group-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 64px;
    font-size: 14px;
    line-height: 20px;
}
#header .menu-list{
    display: flex;
    gap: 32px;
    align-items: center;
}
#header .menu-list .link-menu{
    font-size: 18px;
    font-weight: 400;
    line-height: 110%;
}
#header .menu-list.contect{
    display: flex;
    gap: 0px;
    align-items: center;
}
#header .menu-list.contect .link-menu{
    padding-right: 8px;
}
#header .btn-menu{
    display: none;
    gap: 24px;
    align-items: center;
    height: 32px;
    color: #fff;
}
#header .btn-close{
    display: none;
    gap: 13px;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 32px;
    z-index: 10;
    height: 32px;
    color: #fff;
}

#header .btn-menu .text{
    padding: 7.2px 0;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -.02em;
}
#header .btn-menu .dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 32px;
}
#header .btn-close .text{
    padding: 7.2px 0;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -.02em;
}
#header .btn-close .dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 32px;
}
#header .side-menu{
    display: none;
    flex-direction: column;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
}
#header .side-menu.show{display: flex;}
#header .side-menu .side-list{
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 30;
    max-width: 100%;
    max-height: 100vh;
}
#header .side-menu .side-item:last-child{
    position: absolute;
    bottom: 48px;
}
#header .side-menu .side-item a{
    font-family: var(--font-base);
    font-size: 72px;
    line-height: 105%;
    color: #e95644;
}




#footer{
    position: relative;
    /* z-index: 10; */
    width: 100%;
    height: 100vh;
    margin-top: -396px;
}
#footer .footer-bg{
    overflow: hidden;    
    position: absolute;
    height: 100vh;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #0e1120;
    inset: 0%;
}
#footer .footer-bg .img{
    position: absolute;
    left: 50vw;
    width: 50vw;
    height: 100vh;
}
#footer .footer-bg .img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-position: 70% 50%;
    object-fit: cover;
}
#footer .footer-bg .img .dimmed{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
}

#footer .footer-cont{
    display: flex;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding-right: 64px;
    padding-left: 64px;
}
#footer .footer-cont .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 48px 0;
    padding-right: 64px;
}
#footer .footer-cont .left .logo{
    z-index: 5;
    height: 20px;
    color: #e95644;
}
#footer .footer-cont .left .logo a{
}
#footer .footer-cont .left-list{
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
}
#footer .footer-cont .left-item{
    padding-bottom: 32px;
    border-bottom: 1px solid #ffffff26;
    color: #fff;
}
#footer .footer-cont .left-item .title{
    font-family: var(--font-base);
    font-size: 48px;
    line-height: 105%;
    letter-spacing: -.04em;
}
#footer .footer-cont .left-item a{
    display: flex;
    justify-content: space-between;
}

#footer .footer-cont .left-item .text{
    max-width: 22ch;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -.02em;
}


#footer .footer-cont .left-item.last{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 0;
    border-bottom: none;
}
#footer .footer-cont .left-item.last .web{}
#footer .footer-cont .left-item.last .sns-area{
    display: flex;
    gap: 18px;
}
#footer .footer-cont .left-item.last .sns-area a{
    width: 32px;
    height: 32px;

}
#footer .footer-cont .left-item.last .desc{
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -.02em;
}

#footer .footer-cont .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 50%;
    height: 100%;
}
#footer .footer-cont .location-area{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10;
    margin-bottom: 48px;
    margin-left: 64px;
}
#footer .footer-cont .location{
    display: flex;
    gap: 24px;
    align-items: center;
}
#footer .footer-cont .location-area .desc{
    font-size: 14px;
    line-height: 110%;
    color: #fff;
    letter-spacing: -.02em;
}
#footer .footer-cont .location-area .title{
    font-family: var(--font-base);
    font-size: 80px;
    line-height: 105%;
    color: #e95644;
    letter-spacing: -.04em;
}


@media (min-width:1920px){
    #footer .footer-cont{
        padding-right: 5vh;
        padding-left: 5vh;
    }
    #footer .footer-cont .left-item .title{
        font-size: 64px;
    }
    #footer{
        margin-top: -900px;
    }

}

@media (max-width:991px){
    #header{
        height: 80px;
    }
    #header .header-wrap{
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    #header .group-nav{
        display: none;
    }
    #header .btn-menu{
        display: flex;
    }
    #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
    }
    #footer .footer-bg{
        border-radius: 0;
    }
    #footer .footer-bg .img{
        bottom: 0; left: 0;
        width: 100vw;
        height: 50vh;
    }
    #footer .footer-cont{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
    }
    #footer .footer-cont .left{
        align-self: stretch;
        width: 100%;
        height: 50%;
        padding: 30px 32px 32px;
    }
    #footer .footer-cont .left .logo{
        height: 32px;
    }
    #footer .footer-cont .left-item .title{
        font-size: 32px;
    }
    #footer .footer-cont .left-item .text{
        font-size: 24px;
    }
    #footer .footer-cont .right{
        flex-direction: column;
        align-self: stretch;
        width: 100%;
        height: 50%;
    }
    #footer .footer-cont .location-area{
        gap: 32px;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 64px;
    }
    #footer .footer-cont .location-area .title{
        font-size: 56px;
    }
}

@media (max-width:767px){
    #header .btn-menu .text{
        font-size: 14px;
    }
    #header .btn-close .text{
        font-size: 14px;
    }
    #header .side-menu .side-item a{
        font-size: 48px;
    }
    #footer .footer-bg .img{
        height: 40vh;
    }
    #footer .footer-cont .left{
        height: 60%;
    }
    #footer .footer-cont .left-list{
        gap: 16px;
    }
    #footer .footer-cont .left-item{
        padding-bottom: 16px;
    }
    #footer .footer-cont .left-item a{
        align-items: center;
    }
    #footer .footer-cont .left-item.last{
        margin-top: 8px;
    }
    #footer .footer-cont .left-item.last .desc{
        font-size: 12px;
    }
    #footer .footer-cont .left-item .text{
        font-size: 20px;
        line-height: 110%;
    }
    #footer .footer-cont .right{
        height: 40%;
    }
}

@media (max-width:497px){
    #footer .footer-bg .img{
        height: 30vh;
    }
    #footer .footer-cont .left{
        height: 70%;
        padding: 30px 16px 16px;
    }
    #footer .footer-cont .left-item .title{
        font-size: 24px;
    }
    #footer .footer-cont .right{
        height: 30%;
    }

}

