
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}
:root{
    --font-base: 'HrotPremium', sans-serif;
}



@font-face {
    font-family: 'HrotPremium';
    src: url('../font/63bbb79cfb087eb248248948_HrotPremium-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/63bbf773d99068dbc93d8ba3_1438-font.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body{
    background-color: #cedae4;
    font-family: 'Helvetica Neue', sans-serif;
}