.blind{
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
}

.headline{
    padding: 0 45px 80px;
    text-align: center;
}
.headline strong{
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1.2px;
}
.headline span{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -.4px;
    margin-top: 20px;
}
.scroll-hide {
    overflow: hidden;
    height: 100%;
}

@media (max-width:1280px){}
@media (max-width:1060px){}
@media (max-width:980px){}
