@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './common.css';
@import './reset.css';

#wrap{}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    background: #0cefd3;
    transition: .3s .2s;
}
#header:hover{
    background: #fff;
    transition: .3s;
}
#header.show{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 68px;
    background: #fff !important;
}
#header .logo{
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 10;
    width: 120px;
}
#header .logo a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
}
#header .logo svg{}

#header .nav-area{
    display: flex;
    justify-content: center;
    width: 100%;
}
#header .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#header .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header .nav-item .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 40px;
    font-size: 18px;
    font-weight: 500;
}
#header .nav-item .title a:hover{
    font-weight: 700;
    color: #00c9b9;
}
#header .nav-item a{
    padding: 0 4px;
}
.header::before{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0px;
    border-bottom: 0;
    background-color: #fff;
    transition: .3s;
    content:'';
}
.header.on::before{
    height: 232px;
    border-bottom: 1px solid #000;
    transition: .3s .1s; 
}

#header .sub-list{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    z-index: 100;
    opacity: 0;
    transition: .1s;
}
#header.on .sub-list{
    display: block;
    visibility: visible;
    opacity: 1;
    transition: .3s .2s;
}
#header .sub-item{
    text-align: center;
    white-space: nowrap;
}
#header .sub-item.on{    
}
#header .sub-item a{
    display: block;
    padding: 12px 24px;
}

#header .aside-area{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 2;
    height: 72px;
}
#header .aside-area .aside-wrap{
    display: flex;
    gap: 10px;
}
#header .aside-area .aside-wrap a{
    display: flex;
    font-size: 14px;
}
#header .aside-area .aside-wrap i{
    display: flex;
    align-items: center;
}
#header .aside-area .aside-wrap svg{
    display: inline-block;
    width: 16px;
    height: 16px;
}
#header .aside-area .lang-area{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 11px;
    font-size: 12px;
    font-weight: 700;
}
#header .lang-area .btn-select{
    padding: 10px 0;
}
#header .lang-area::before{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    background-color: rgba(0,0,0,.1);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
}
#header .lang-area svg{
    width: 12px;
}
#header .lang-area .lang{
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    z-index: 10;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.18);
    background-color: #fff;
    text-align: center;
}

#header .lang-area .lang.on{
    display: block;
}
#header  .lang li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 36px;
}
#header .lang button:disabled{
    color: #ccc;
}
#header .lang-area .btn-header{
    display: none;
}
#header .header-menu{
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background: #fff;
    transform: translateX(100%);
    transition: 0.4s;
    overscroll-behavior-y: contain;
}
.header-menu .menu-list{
    border-top: 68px solid #fff;
}
.header-menu .menu-item{
    display: flex;
    flex-direction: column;
    position: relative;
}
.header-menu .menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu .menu-item strong{
    display: flex;
    align-items: center;
    height: 68px;
    font-size: 24px;
    font-weight: 700;
}
.header-menu .menu-item .down{
    display: block;
    flex: none;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}
.header-menu .menu-item svg.rotate{
    transform: rotate(180deg);
}
.header-menu .menu-item svg{
    transition: transform 0.3s ease;
}
.header-menu .menu-item .list{
    display: none;
    padding: 0 0 40px;
}
.header-menu .menu-item .list.show{
    display: block;
}

.header-menu .menu-item .list a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 12px 0px;
    font-size: 22px;
}
.header-menu .side-list{
    display: block;
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid rgba(0,0,0,.08);
    font-size: 22px;
}
.header-menu .side-item{}
.header-menu .side-item a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
.header-menu .side-item .text{}
.header-menu .side-item i{
    width: 16px;
    aspect-ratio: 1;
}
.header-menu .side-item svg{
    width: 100%;
    vertical-align: top;
    aspect-ratio: 1;
}

#footer{
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 60px 45px 65px;
    background-color: #f3f4f5;
    font-size: 14px;
    font-weight: 400;
    color: #6c6d6f;
}
#footer .footer-nav ul{
    display: flex;
    gap: 40px;
}
#footer .footer-nav strong{
    color: #000;
}
#footer .footer-addr{
    margin-top: 28px;
    margin-right: 345px;
}
#footer .footer-addr h3{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}
#footer .footer-addr .addr-list{
    display: flex;
    flex-wrap: wrap;
}
#footer .footer-addr .addr-item{}
#footer .footer-addr .addr-item+.addr-item::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #6c6d6f;
    content: '';
}
#footer .footer-link{
    position: absolute;
    right: var(--gutter);
    bottom: 65px;
    width: 327px;
}
#footer .btn-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 13px 16px;
    border: 1px solid #a6a7a9;
    background: #fff;
        font-size: 14px;
    text-align: left;
    border-radius: 8px;
}
#footer .btn-select span{}
#footer .link-list{
    display: none;
    overflow: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    max-height: 215px;
    margin-bottom: 4px;
    border: 1px solid #a6a7a9;
    box-shadow: 2px 4px 10px rgba(0,0,0,.08);
    background: #fff;
    font-size: 14px;
    border-radius: 8px;
}
#footer .link-list.on{
    display: block;
}
#footer .link-item{}
#footer .link-item a{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
}


@media (max-width:1280px){}
@media (max-width:1060px){}

@media (max-width:980px){
    #header.on{
        position: fixed;
    }
    #header .logo{
        left: 20px;
    }
    #header .logo svg{height: 24px;}
    #header .logo a{
        height: 68px
    }
    #header .nav-area{
        display: none;
    }
    #header .nav-list{display: none;}
    #header .aside-area{
        right: 20px;
    }
    #header .aside-area .aside-wrap{
        display: none;
    }
    #header .lang-area .btn-header{
        display: block;
        position: relative;
        width: 24px;
        margin: 0 16px;
        aspect-ratio: 1;
    }
    #header .lang-area .btn-header i{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        background-color: #000;
        transform: translate(-50%,-50%);
        transition: margin .2s,transform .2s ease-in-out,opacity .2s ease-in-out;
    }
    #header .btn-header i:first-child{margin-top: -8px;}
    #header .btn-header i:last-child{margin-top: 8px;}
    
    #header .btn-header.active i:nth-child(1) {
        margin-top: 0;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    #header .btn-header.active i:nth-child(2){
        opacity: 0;
        transform: translateY(-50%);
    }
    #header .btn-header.active i:nth-child(3) {
        margin-top: 0;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    #header .header-menu{
        display: block;
    }
    #header .header-menu.show{
        transform: translateX(0);
    }
    #footer{padding: 60px 20px 65px;}
    #footer .footer-nav ul{
        display: block;
        columns: 2;
    }
    #footer .footer-nav li {
        display: block;
        margin-top: 12px;
    }
    #footer .footer-nav li:first-child{
        margin-top: 0;
    }
    #footer .footer-link{
        position: relative;
        right: auto;
        bottom: auto;
        width: auto;
        margin: 40px 0;
    }
    #footer .footer-addr{
        margin-right: 0;
    }
}

@media (max-width:480px){
    #footer .footer-addr .addr-list{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 1.6666666667;
    }
    #footer .footer-addr .addr-item+.addr-item::before{
        display: none;
    }
}