.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
}
.scroll-hide{
    overflow: hidden !important;
}
.inner{
    padding-right: 2rem;
    padding-left: 2rem;
}

.content{
    padding-top: 10vw;
    padding-right: 2rem;
    padding-bottom: 8vw;
    padding-left: 2rem;
}
.head-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.head-area .title{
    font-family: var(--nm-medium);
    font-size: 6vw;
    font-weight: 500;
    line-height: 100%;
}
.head-area .sub-title{
    width: 73%;
    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -.01em;
    text-wrap: balance;
}

.info-list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: var(--nm-medium);
    font-size: calc(.4vw + .625rem);
}
.info-item{
    display: flex;
    gap: 10px;
    flex-direction: column;
    opacity: 0;
    transform: translateX(6rem);
}
.info-item .info-text{
    display: flex;
    font-size: 15px;
    line-height: 110%;
}
.info-item .info-text.color{
    font-family: var(--nm-base);
    color: var(--light-green);
}
.info-item .info-text .curr{
    display: flex;
}
.info-item .info-text .blink{
    animation: blinker 1.1s ease infinite;
}
@keyframes blinker {50% {opacity: 0;}}

.hide-bg{
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #000000a8;
}
.hide-bg.show{
    display: block;
}

@media (max-width:1280px) {}

@media (max-width: 991px) {
    .content{
        padding-top: 100px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .head-area .title{
        font-size: 54px;
    }
    .info-list{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 767px) {
    .content{
        padding-right: 10px;
        padding-left: 10px;
    }
    .head-area{
        margin-bottom: 24px;
    }
    .head-area .title{
        font-size: 9vw;
    }
    .info-list{
        gap: 10px;
    }
    .info-item .info-text{
        font-size: 13px;
    }
}

@media (max-width: 479px){
    .content{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .head-area{
        margin-bottom: 32px;
    }
    .head-area .title{
        font-size: 14em;
    }
    .info-item{
        gap: 0;
    }
    .info-item .info-text{
        font-size: 12px;
        line-height: 140%;
    }
}