

@import './common.css';
@import './reset.css';

#wrap{}

#header{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 16px 32px;
    transform: translateY(0);
    transition: transform .3s;
    grid-template-columns: 1fr 1fr;
    inset: 0% 0% auto;
}
#header.active {
    background: var(--color--light-yellow);
}
#header.active .group-nav{
    color: var(--very-dark-green) !important;
}
#header.active .side .btn .btn-first{
    background-color: var(--very-dark-green);
    color: rgb(255, 250, 231) ;
}
#header.active .side .btn .btn-last{
    background-color: rgb(217, 120, 0);
    color: rgb(255, 250, 231) ;
}
#header.active .group-nav .btn-menu{
    color: #0e2404;
}
#header.hide{
    transform: translateY(-100%);
}
#header .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo{
    z-index: 5;
    width: 7vw;
}
#header .logo img{
    width: 100%;
    height: 100%;
}
#header .logo .on{
    display: none;
}
#header.active .logo .show {
    display: none;
}
#header.active .logo .on {
    display: block;
}
#header .group-nav{
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--nm-base);
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
    line-height: 18.5px;
    color: rgb(255, 250, 231);
}
#header .group-nav .nav-list{
    display: flex;
    gap: 0.75vw;
    flex-wrap: wrap;
    align-items: center;
}
#header .group-nav .nav-item{
    line-height: 100%;
    text-decoration: none;
}
#header .group-nav .nav-item a{}

#header .group-nav .side{
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: center;
}
#header .group-nav .side .btn{
    overflow: hidden;
    width: auto;
    height: 44px;
    border-radius: 99px;
}
#header .group-nav .side [class*="btn-"]{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 0 22px;
    border: 2px solid rgb(255, 250, 231);
    font-size: 17px;
    line-height: 100%;
    transform: translate3d(0px, 0rem, 0px); 
    transition: .3s;
    border-radius: 99px;
}
#header .group-nav .side .btn-first{
    color: var(--default--background);
}
#header .group-nav .side .btn-last{
    background-color: rgb(255, 250, 231);
    color: rgb(14, 36, 4);
}
#header .group-nav .side:hover .btn-first {
    transform: translate3d(0px, -2.75rem, 0px); 
}
#header .group-nav .side:hover .btn-last { 
    opacity: 1;
    transform: translate3d(0px, -2.75rem, 0px);
}
#header .group-nav .btn-menu{
    display: none;
    font-size: 2.5vw;
    color: rgb(255, 250, 231);
}
#header .group-menu{
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 110px 10px 10px;
    background-color: var(--color--light-yellow);
    transform: translateX(100%);
    transition: .5s;
    overscroll-behavior-y: contain;
}
#header .group-menu.show{
    overflow: hidden;
    transform: translateX(0);
}
#header .menu-inner{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
#header .menu-list{
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    font-family: var(--nm-medium);
}
#header .menu-list .menu-item{}
#header .menu-list .menu-item a{
    font-size: 7vw;
    line-height: 100%;
}
#header .btn-area{
    display: flex;
    gap: 6px;
    flex-direction: column;
    width: 100%;
}
#header .btn-area .desc{
    display: flex;
    justify-content: center;
    font-size: 2em;
    line-height: 100%;
}
#header .btn-area .btn a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 22px;
    background-color: var(--very-dark-green);
    font-size: 16px;
    color: var(--default--background);
    border-radius: 99px;
}
#header .social-area{
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    font-size: 2.5vw;
}
#header .social-area .title{
    color: var(--light-green);
}
#header .social-area .social-list{
    display: grid;
    gap: 4px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}
#header .social-area .social-item{
    line-height: 125%;
}
#header .group-menu .btn-close{
    position: absolute;
    top: 25px;right: 20px;
}
#header .group-menu .btn-close .text{
    font-size: 2.5vw;
}

#footer{
    position: relative;
    margin-top: -100vh;
}
#footer .cont{
    position: relative;
    height: 100vh;
}
#footer .sticky{
    position: sticky;
    bottom: 0;
    height: 100vh;
    background-color: var(--very-dark-green);
    color: var(--default--background);
}
#footer .footer-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding: 32px 2rem 16px;
}
#footer .footer-top{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
#footer .footer-top .addr-list{
    display: flex;
    flex-direction: column;
}
#footer .footer-top .addr-item{
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
    line-height: 115%;
}
#footer .footer-top .menu-list{
    display: flex;
    flex-direction: column;
    font-family: var(--nm-medium);
    grid-column: 3;
}
#footer .footer-top .menu-item{}
#footer .footer-top .menu-item a{
    display: flex;
    align-items: center;
    padding: 3px 2px;
    font-size: calc(1.25vw + 1.25rem);
    line-height: 100%;
}

#footer .footer-top .social-list{
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: right;
}
#footer .footer-top .social-item{
}
#footer .footer-top .social-item a{
    padding: 0 1px 0 4px;
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
}

#footer .footer-bottom{
    display: flex;
    flex-direction: column;
}
#footer .footer-bottom .head-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#footer .footer-bottom .head-area .title{
    font-size: 15vw !important;
    line-height: 100%;
    text-transform: uppercase;
}
#footer .footer-bottom .copy-area{
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, .4vw + .625rem, 2rem);
}
#footer .footer-bottom .copy-area .copy{}



@media (max-width:1280px) {}
@media (max-width: 991px) {
    #header{
        padding: 16px 20px;
        grid-template-columns: 1fr 10fr;
    }
    #header .group-nav{
        gap: 20px;
    }
    #header .group-nav .nav-list{
        gap: 1rem;
    }
    
    #header .group-nav .side .btn{
        height: 40px;
    }
    #header .group-nav .side [class*="btn-"]{
        height: 40px;
    }
    #footer .footer-inner{
        padding: 32px 20px 20px;
    }
    #footer .footer-top .menu-list{
        gap: 4px;
    }
    #footer .footer-top .menu-item a{
        font-size: 30px;
    }
    #footer .footer-top .addr-list{
        gap: 4px;
    }
    #footer .footer-top .social-list{
        gap: 7px;
    }
    #footer .footer-bottom .head-area{
        margin-bottom: 0;
    }

}
@media (max-width: 767px){
    #header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    #header .logo{
    width: 100px;
    }
    #header .group-nav .nav-list{
        display: none;
    }
    #header .group-nav .side{
        display: none;
    }
    #header .group-nav .btn-menu{
    display: block;
}
    #header .btn-menu{
        display: block;
    }
    #header .group-menu{
        display: block;
    }

    #footer .footer-inner{
        min-height: calc(-90px + 100vh);
        padding: 80px 10px 10px;
    }
    #footer .footer-top{
        grid-row-gap: 40px;
        grid-template-rows: auto;
        grid-template-columns: repeat(2,1FR);
    }
    #footer .footer-top .menu-list{
        gap: 2px;
        grid-area: span 1 / span 2 / span 1 / span 2;
    }
    #footer .footer-top .menu-item a{
        font-size: 7vw;
    }
    #footer .footer-top .addr-list{
        order: 2;
    }
    #footer .footer-top .social-list{
        gap: 8px;
        text-align: left;
    }
    #footer .footer-bottom .copy-area .copy{
        font-size: 14px;
    }
}

@media (max-width: 479px){
    #header .group-nav .btn-menu{
        font-size: 16px;
    }
    #header .btn-area .desc{
        font-size: 4em;;
    }
    #header .group-menu .btn-close .text{
        font-size: 16px;
    }
    #header .social-area{
        font-size: 4em;
    }
    #footer .footer-inner{
        min-height: 100dvh;
        padding: 20px 10px;
    }
    #footer .footer-top .social-item a{
        line-height: 100%;
    }
    #footer .footer-bottom .copy-area .copy{
        font-size: 9px;
    }
    
}